Repository DIBTP-E2E/KFE3-dibtp: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-web, eslint-docs, eslint-ui, prettier

eslint-web:
  run: pnpm --filter=web exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-docs:
  run: pnpm --filter=docs exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-ui:
  run: pnpm --filter=ui exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

feat: 이미지 관련 유틸함수 추가 (#73)
  apps/web/utils/image/image-utils.ts
  apps/web/utils/image/index.ts
  apps/web/utils/index.ts
Due: eslint-web, prettier

feat: 이미지 업로드 관련 클라이언트, 서버 서비스 함수 추가 (#73)
  apps/web/services/images/client/deleteImages.ts
  apps/web/services/images/client/index.ts
  apps/web/services/images/client/uploadImages.ts
  apps/web/services/images/index.ts
  apps/web/services/images/server/deleteFromStorage.ts
  apps/web/services/images/server/index.ts
  apps/web/services/images/server/uploadToStorage.ts
  apps/web/services/index.ts
Due: eslint-web, prettier

feat: 이미지 스토리지 버켓 이름 상수 추가 (#73)
  apps/web/constants/index.ts
  apps/web/constants/storage-bucket.ts
Due: eslint-web, prettier

feat: 상품 이미지 최대개수 상수 추가 (#73)
  apps/web/constants/index.ts
  apps/web/constants/product-images.ts
Due: eslint-web, prettier

feat: storage 업로드, 삭제 라이브러리 추가 (#73)
  apps/web/lib/storage/index.ts
  apps/web/lib/storage/storage.ts
Due: eslint-web, prettier

feat: 이미지 storage 업로드, 제거 api route 추가 (#73)
  apps/web/app/api/images/route.ts
Due: eslint-web, prettier

feat: 버튼 사이즈 xl 추가 및 디폴트 값으로 설정 (#72)
  packages/ui/src/design-system/base-components/Button/Button.stories.tsx
  packages/ui/src/design-system/base-components/Button/Button.tsx
Due: eslint-ui, prettier

chore: 카메라 아이콘 추가 (#73)
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
Due: eslint-ui, prettier

feat: 이미지 업로 컴포넌트 구현 (#73)
  apps/web/components/ui/ImageUpload.tsx
Due: eslint-web, prettier

feat: 상품 등록 관련 타입 추가 (#35)
  apps/web/types/product/api.ts
  apps/web/types/product/form.ts
  apps/web/types/product/index.ts
Due: eslint-web, prettier

fix: db 스키마 변경 (#35)
  apps/web/lib/prisma/schema.prisma
Due: none

remove: migration 파일 필요 없어서 제거 (#35)
  apps/web/lib/prisma/migrations/migration.sql
Due: none

fix: 서버액션 import 시 barrel patter 사용 안하도록 수정 (#35)
  apps/web/server-actions/location/saveLocationAction.ts
Due: eslint-web, prettier

feat: 상품 등록 service 추가 (#35)
  apps/web/services/products/createProduct.ts
  apps/web/services/products/index.ts
Due: eslint-web, prettier

feat: 이미지 등록 관련 zod 스키마 추가 (#73)
  apps/web/lib/validations/image.ts
  apps/web/lib/validations/index.ts
Due: eslint-web, prettier

feat: 상품 상세 페이지 이미지 슬라이드 구현 (#22)
  apps/web/components/product-detail/ImageCounter.tsx
  apps/web/components/product-detail/NextButton.tsx
  apps/web/components/product-detail/PrevButton.tsx
  apps/web/components/product-detail/ProductImageCarousel.tsx
  apps/web/components/product-detail/index.ts
Due: eslint-web, prettier

feat: 상품 등록 관련 스키마 추가 (#35)
  apps/web/lib/validations/index.ts
  apps/web/lib/validations/product.ts
Due: eslint-web, prettier

feat: 상품 등록 관련 커스텀 훅 추가 (#35)
  apps/web/hooks/index.ts
  apps/web/hooks/products/index.ts
  apps/web/hooks/products/useProductForm.ts
Due: eslint-web, prettier

feat: 상품 등록 관련 api route 추가 (#35)
  apps/web/app/api/products/route.ts
Due: eslint-web, prettier

feat: 상품 등록 관련 컴포넌트 구현 (#35)
  apps/web/app/(pages)/products/register/page.tsx
  apps/web/components/product-register/AuctionEndTimeField.tsx
  apps/web/components/product-register/DecreaseUnitField.tsx
  apps/web/components/product-register/DescriptionField.tsx
  apps/web/components/product-register/LocationInfoField.tsx
  apps/web/components/product-register/MinimumPriceField.tsx
  apps/web/components/product-register/ProductRegisterForm.tsx
  apps/web/components/product-register/StartPriceField.tsx
  apps/web/components/product-register/TitleField.tsx
  apps/web/components/product-register/index.ts
Due: eslint-web, prettier

feat: 상품 상세 페이지 제목 구현 (#22)
  apps/web/components/product-detail/ProductTitle.tsx
  apps/web/components/product-detail/index.ts
Due: eslint-web, prettier

design: 이미지 캐로셀 가로세로 비율 수정
  apps/web/components/product-detail/ProductImageCarousel.tsx
Due: eslint-web, prettier

feat: 현재 가격, 다음 가격 표시 UI 구현 (#22)
  apps/web/components/product-detail/CurrentPrice.tsx
  apps/web/components/product-detail/NextPrice.tsx
Due: eslint-web, prettier

feat: 경매 정보 컴포넌트 구현 (#22)
  apps/web/components/product-detail/AuctionInfoLayout.tsx
  apps/web/components/product-detail/AuctionSummary.tsx
  apps/web/components/product-detail/index.ts
Due: eslint-web, prettier

feat: 상품 상세 설명 컴포넌트 구현 (#22)
  apps/web/components/product-detail/ProductDescription.tsx
  apps/web/components/product-detail/index.ts
Due: eslint-web, prettier

feat: 입찰 버튼 UI 구현 (#22)
  apps/web/components/product-detail/BidButton.tsx
Due: eslint-web, prettier

feat: 상품 상세 페이지 푸터 구현 (#22)
  apps/web/components/product-detail/ProductFooter.tsx
Due: eslint-web, prettier

design: 입찰 버튼 디자인 수정 (#22)
  apps/web/components/product-detail/BidButton.tsx
Due: eslint-web, prettier

feat: 상품 상세 페이지 유저 정보, 채팅 버튼 구현 (#22)
  apps/web/components/product-detail/ChatButton.tsx
  apps/web/components/product-detail/SellerAvatar.tsx
  apps/web/components/product-detail/SellerNickname.tsx
  apps/web/components/product-detail/UserInfoLayout.tsx
  apps/web/components/product-detail/index.ts
Due: eslint-web, prettier

feat: 목데이터 활용한 UI 시안 (#22)
  apps/web/app/(pages)/products/[productId]/data.ts
  apps/web/app/(pages)/products/[productId]/page.tsx
Due: eslint-web, prettier

feat: badge 컴포넌트의 variant 옵션을 color 옵션으로 수정 및 size 옵션 추가 (#77)
  packages/ui/src/design-system/base-components/Badge/Badge.stories.tsx
  packages/ui/src/design-system/base-components/Badge/Badge.tsx
Due: eslint-ui, prettier

feat: badge 컴포넌트의 베경, 텍스트 색상 반전 속성 variant 추가 (#77)
  packages/ui/src/design-system/base-components/Badge/Badge.stories.tsx
  packages/ui/src/design-system/base-components/Badge/Badge.tsx
Due: eslint-ui, prettier

feat: web app 용 경매 상품 뱃지 컴포넌트 추가 (#77)
  apps/web/components/shared/ProductBadge.tsx
  apps/web/components/shared/index.ts
Due: eslint-web, prettier

chore: 누락된 badge 컴포넌트 display name 설정 추가 (#77)
  packages/ui/src/design-system/base-components/Badge/Badge.tsx
Due: eslint-ui, prettier

chore: 불필요한 display name 제거 (#77)
  apps/web/components/shared/ProductBadge.tsx
  packages/ui/src/design-system/base-components/Badge/Badge.tsx
Due: eslint-web, eslint-ui, prettier

chore: 불필요한 공백 제거
  apps/web/components/product-detail/ProductDescription.tsx
  apps/web/components/product-detail/ProductFooter.tsx
  apps/web/components/product-detail/SellerAvatar.tsx
  apps/web/components/product-detail/SellerNickname.tsx
  apps/web/components/product-detail/UserInfoLayout.tsx
Due: eslint-web, prettier

feat: api 엔드포인트 상수 추가 (#35)
  apps/web/constants/api-endpoints.ts
  apps/web/constants/index.ts
Due: eslint-web, prettier

fix: product 타입 export 오류 수정 (#35)
  apps/web/types/index.ts
Due: eslint-web, prettier

fix: 상품 등록 후 상품리스트 페이지로 이동되도록 수정 (#35)
  apps/web/hooks/products/useProductForm.ts
Due: eslint-web, prettier

fix: 바뀐 button 컴포넌트에 맞춰 수정 (#35)
  apps/web/components/product-register/ProductRegisterForm.tsx
Due: eslint-web, prettier

Path conditions:
  eslint-web: any of: apps/web/**/*.{js,ts,jsx,tsx}
  eslint-docs: any of: apps/docs/**/*.{js,ts,jsx,tsx}
  eslint-ui: any of: packages/ui/**/*.{js,ts,jsx,tsx}
  prettier: any of: **/*.{js,ts,jsx,tsx,json,yaml,md,css}
