Repository DIBTP-E2E/KFE3-dibtp: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-web, eslint-docs, eslint-ui, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    debug:
      run: echo "Running pre-commit hooks"

    eslint-web:
      glob: 'apps/web/**/*.{js,ts,jsx,tsx}'
      run: pnpm --filter=web exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
      stage_fixed: true

    eslint-docs:
      glob: 'apps/docs/**/*.{js,ts,jsx,tsx}'
      run: pnpm --filter=docs exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
      stage_fixed: true

    eslint-ui:
      glob: 'packages/ui/**/*.{js,ts,jsx,tsx}'
      run: pnpm --filter=ui exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
      stage_fixed: true

    prettier:
      glob: '**/*.{js,ts,jsx,tsx,json,yaml,md,css}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    lint-commit-msg:
      run: pnpm exec commitlint --edit {1}

feat: max-width 값 토큰 추가하여 375px 하드코딩 값 제거 (#88)
  apps/web/app/(pages)/products/[productId]/page.tsx
  apps/web/app/layout.tsx
  apps/web/components/layout/BottomNavigation.tsx
  apps/web/components/layout/TopNavigation.tsx
  apps/web/components/product-detail/ProductDetailHeader.tsx
  apps/web/components/product-detail/ProductFooter.tsx
  packages/tailwind-config/design-tokens/index.css
Due: eslint-web, prettier

fix: 프리즈마 관련 빌드 에러 수정 (#101)
  apps/web/package.json
Due: prettier

fix: 빌드시 프리즈마 스키마 관련 경로 설정 (#101)
  apps/web/package.json
Due: prettier

fix: 프리즈마 postinstall 설정 제거 (#101)
  apps/web/package.json
Due: prettier

fix: postinstall 관련 설정 롤백 및 환경변수 직접 주입 (#101)
  apps/web/package.json
Due: prettier

fix: dotenv-cli 명령어 찾을 수 있도록 수정 (#101)
  apps/web/package.json
Due: prettier

fix: vercel에서 dotenv-cli를 사용할 수 있도록 dependencies로 변경
  apps/web/package.json
Due: prettier

fix: pnpm-lock 파일 수정 (#101)
  pnpm-lock.yaml
Due: none

fix: 상세페이지의 params 를 비동기 await 처리 (#111)
  apps/web/app/(pages)/products/[productId]/page.tsx
Due: eslint-web, prettier

chore: 기존 버셀 빌드 에러 관련 hotfix 롤백
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier

fix: productlist 컴포넌트를 productlistwithskeleton 컴포넌트로 변경 (#114)
  apps/web/app/(home)/page.tsx
  apps/web/components/products/ProductList.tsx
  apps/web/components/products/index.ts
Due: eslint-web, prettier

fix: location 페이지에 필요없는 async 제거 (#114)
  apps/web/app/(auth-pages)/location/page.tsx
Due: eslint-web, prettier

fix: 폰트 두께의 디자인 토큰을 300, 400, 600 기준으로 수정 (#98)
  packages/tailwind-config/design-tokens/typography-tokens.css
  packages/tailwind-config/semantic-styles/typography-styles.css
Due: prettier

fix: next font 의 구글 cdn 사용에서 로컬 폰트 사용으로 수정 (#98)
  apps/web/app/layout.tsx
  apps/web/public/fonts/NotoSansKR-Light.woff2
  apps/web/public/fonts/NotoSansKR-Regular.woff2
  apps/web/public/fonts/NotoSansKR-SemiBold.woff2
Due: eslint-web, prettier

chore: 디자인 토큰 오탈자 수정 (#98)
  packages/tailwind-config/design-tokens/typography-tokens.css
  packages/tailwind-config/semantic-styles/typography-styles.css
Due: prettier

fix: 버셀 빌드 오류 관련 핫픽스 (#113)
  apps/web/app/(home)/page.tsx
Due: eslint-web, prettier

remove: 필요없어진 경매마감시간 필드 제거 (#120)
  apps/web/components/product-register/AuctionEndTimeField.tsx
Due: eslint-web, prettier

refactor: 순수 product 타입 정의 (#120)
  apps/web/types/product/domain.ts
Due: eslint-web, prettier

refactor: product 기반 관련 타입 수정 (#120)
  apps/web/types/product/api.ts
  apps/web/types/product/form.ts
  apps/web/types/product/index.ts
Due: eslint-web, prettier

refactor: prisma 결과 타입 mapper 함수 분리 및 추가 (#120)
  apps/web/services/products/mappers.ts
Due: eslint-web, prettier

refactor: product 타입 관련 컴포넌트 수정 (#120)
  apps/web/components/products/ProductCard.tsx
  apps/web/components/products/ProductThumb.tsx
  apps/web/components/shared/ProductBadge.tsx
  apps/web/services/products/fetchProductDetail.ts
  apps/web/services/products/fetchProducts.ts
Due: eslint-web, prettier

feat: product list skeleton UI를 실제 레이아웃과 일치하도록 개선 (#119)
  apps/web/components/products/ProductListSkeleton.tsx
  apps/web/services/products/fetchProducts.ts
Due: eslint-web, prettier

fix: omit보다 pick으로 더 간단하게 수정 (#120)
  apps/web/types/product/form.ts
Due: eslint-web, prettier

refactor: product status 상수화하여 관련 처리 수정 (#120)
  apps/web/components/shared/ProductBadge.tsx
  apps/web/constants/index.ts
  apps/web/constants/navigation.ts
  apps/web/constants/product-status.ts
  apps/web/services/products/mappers.ts
  apps/web/types/product/domain.ts
Due: eslint-web, prettier

refactor: navigation item import 경로 수정 (#120)
  apps/web/components/layout/BottomNavigation.tsx
Due: eslint-web, prettier

refactor: product api 관련 타입 이름 수정 (#120)
  apps/web/services/products/fetchProductDetail.ts
  apps/web/services/products/fetchProducts.ts
  apps/web/services/products/mappers.ts
  apps/web/types/product/api.ts
  apps/web/types/product/index.ts
Due: eslint-web, prettier

fix: mapper 함수 이름 수정 (#120)
  apps/web/services/products/fetchProductDetail.ts
  apps/web/services/products/fetchProducts.ts
  apps/web/services/products/mappers.ts
Due: eslint-web, prettier

chore: storybook CI/CD git workflow 설정 (#124)
  .github/workflows/chromatic.yml
Due: none

chore: local에서 배포 확인 할 수 있도록 chromatic 설치 (#124)
  apps/docs/package.json
  pnpm-lock.yaml
Due: prettier

feat: github 릴리즈 노트 자동화 시스템 구축 (#125)
  .github/workflows/release.yml
  package.json
  release_notes.md
  scripts/generate-release-notes.js
Due: prettier

fix: 배포 실패 확인 결과 스토리가 인식하기 위한 절대경로 별칭 설정 추가 (#124)
  apps/docs/.storybook/main.ts
Due: eslint-docs, prettier

fix: 릴리즈 노트 내용 포함 범위 수정 (#125)
  release_notes.md
  scripts/generate-release-notes.js
Due: prettier

fix: github actions에서 pnpm 설정 오류 수정 (#130)
  .github/workflows/release.yml
Due: none

fix: pnpm setup 순서 수정 - node.js setup 이전으로 이동 (#130)
  .github/workflows/release.yml
Due: none

chore: bump version to v1.0.0
  package.json
Due: none

fix: chromatic.yml 파일과 package.json의 pnpm 버전 일치하도록 수정 (#134)
  .github/workflows/chromatic.yml
Due: none

fix: chromatic.yml 파일에서 누락된 build 단계 추가 (#134)
  .github/workflows/chromatic.yml
Due: none

fix: release 액션에서 기존 태그 중복 오류 수정 (#137)
  .github/workflows/release.yml
Due: none

fix: chromatic.yml 파일에 supabase 환경변수 추가 및 turbo 명령어 사용 (#139)
  .github/workflows/chromatic.yml
Due: none

fix: chromatic.yml 파일에서 turbo 명령어 사용 시 ui 패키지 호출명 오탈자 수정 (#139)
  .github/workflows/chromatic.yml
Due: none
