Repository DIBTP-E2E/KFE3-dibtp: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-web, eslint-docs, eslint-ui, prettier

eslint-web:
  run: pnpm --filter=web exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-docs:
  run: pnpm --filter=docs exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-ui:
  run: pnpm --filter=ui exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

[setting] 초기 환경 세팅 (#1) (#2)
  apps/web/app/favicon.ico
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/app/providers/QueryProvider.tsx
  apps/web/package.json
  apps/web/public/circles.svg
  apps/web/public/next.svg
  apps/web/public/turborepo.svg
  apps/web/public/vercel.svg
  commitlint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: eslint-web, prettier

rename: app router 디렉토리와 구분하기 위해 globals.css, providers 위치 이동 (#5)
  apps/web/providers/QueryProvider.tsx
  apps/web/styles/globals.css
Due: eslint-web, prettier

chore: tailwind-config 패키지에서 누락된 shared-styles.css 추가하여 공통 폰트 정의 (#5)
  packages/tailwind-config/shared-styles.css
Due: prettier

chore: 폰트 최적화 옵션과 유틸클래스 추가 및 정의한 폰트 class를 body에 적용 (#5)
  apps/web/app/layout.tsx
  apps/web/next.config.ts
Due: eslint-web, prettier

chore: 불필요한 폰트 관련 코드 제거 (#5)
  apps/web/styles/globals.css
  packages/ui/src/global.css
Due: prettier

chore: lefthook 동작 시 eslint-web 훅에서 changed file 을 찾지 못하는 에러 해결 (#6)
  lefthook.yml
Due: none

chore: end of line 을 위한 마지막 라인의 의미없는 공백 제거 (#6)
  lefthook.yml
Due: none

chore: auth 관련 페이지 디렉토리 구조 설정 (#11)
  apps/web/app/(auth-pages)/layout.tsx
  apps/web/app/(auth-pages)/location/page.tsx
  apps/web/app/(auth-pages)/login/page.tsx
  apps/web/app/(auth-pages)/page.tsx
  apps/web/app/(auth-pages)/signup/page.tsx
Due: eslint-web, prettier

chore: 로그인 이후 페이지 디렉토리 구조 설정 (#11)
  apps/web/app/(pages)/chat/[chatId]/page.tsx
  apps/web/app/(pages)/chat/page.tsx
  apps/web/app/(pages)/layout.tsx
  apps/web/app/(pages)/page.tsx
  apps/web/app/(pages)/products/[productId]/page.tsx
  apps/web/app/(pages)/products/page.tsx
Due: eslint-web, prettier

chore: 컴포넌트 디렉토리 구조 설정 (#11)
  apps/web/components/chat-id/index.ts
  apps/web/components/chat/AnotherComponent/AnotherComponent.tsx
  apps/web/components/chat/AnotherComponent/TinyComponent.tsx
  apps/web/components/chat/AnotherComponent/index.ts
  apps/web/components/chat/OtherComponent.tsx
  apps/web/components/chat/SomeComponent/SomeComponent.tsx
  apps/web/components/chat/SomeComponent/TinyComponent.tsx
  apps/web/components/chat/SomeComponent/index.ts
  apps/web/components/chat/index.ts
  apps/web/components/location/index.ts
  apps/web/components/login/index.ts
  apps/web/components/products-id/index.ts
  apps/web/components/products/index.ts
  apps/web/components/signup/index.ts
Due: eslint-web, prettier

chore: app route api 와 서비스 함수 디렉토리 구조 설정 (#11)
  apps/web/app/api/login/route.tsx
  apps/web/services/chat/fetchChatList.ts
  apps/web/services/index.ts
  apps/web/services/location/createLocation.ts
  apps/web/services/login/login.ts
  apps/web/services/products/fetchProductDetail.ts
  apps/web/services/products/fetchProducts.ts
  apps/web/services/signup/signup.ts
Due: eslint-web, prettier

chore: 상수, 타입, lib 디렉토리 구조 설정 (#11)
  apps/web/constants/index.ts
  apps/web/lib/index.ts
  apps/web/types/index.ts
Due: eslint-web, prettier

rename: 컴포넌트 그룹화 디렉토리명은 직관적이게 이름 수정 (#11)
  apps/web/components/chat-room/index.ts
  apps/web/components/product-detail/index.ts
Due: eslint-web, prettier

feat: 로그인, 회원가입 페이지 레이아웃 구현
  apps/web/app/(auth-pages)/layout.tsx
Due: eslint-web, prettier

feat: 로그인 페이지 컴포넌트 구현
  apps/web/components/login/EmailInput.tsx
  apps/web/components/login/LoginButton.tsx
  apps/web/components/login/LoginTitle.tsx
  apps/web/components/login/PasswordInput.tsx
  apps/web/components/login/SignupInfo.tsx
  apps/web/components/login/SignupLink.tsx
  apps/web/components/login/index.ts
Due: eslint-web, prettier

chore: 필요없는 페이지 파일 삭제
  apps/web/app/(auth-pages)/page.tsx
  apps/web/app/(pages)/page.tsx
Due: eslint-web, prettier

feat: 로그인 페이지 구현 (#9)
  apps/web/app/(auth-pages)/login/page.tsx
Due: eslint-web, prettier

design: 입력폼 패딩 수정
  apps/web/app/(auth-pages)/login/page.tsx
Due: eslint-web, prettier

feat: 회원가입 컴포넌트 구현
  apps/web/components/signup/EmailInput.tsx
  apps/web/components/signup/LoginInfo.tsx
  apps/web/components/signup/LoginLink.tsx
  apps/web/components/signup/NameInput.tsx
  apps/web/components/signup/PasswordInput.tsx
  apps/web/components/signup/SignupButton.tsx
  apps/web/components/signup/SignupTitle.tsx
  apps/web/components/signup/index.ts
Due: eslint-web, prettier

feat: 회원가입 페이지 구현 (#9)
  apps/web/app/(auth-pages)/signup/page.tsx
Due: eslint-web, prettier

chore: 수파베이스 설치
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier

feat: supabase 연결 URL 및 Key 설정(.env.local 설정 필요)
  apps/web/lib/supabaseClient.ts
Due: eslint-web, prettier

feat: 회원가입 서비스 함수 구현 (#9)
  apps/web/services/signup/createUserAccount.ts
  apps/web/services/signup/signup.ts
Due: eslint-web, prettier

feat: 회원가입 비지니스 로직 추가 (#9)
  apps/web/app/(auth-pages)/signup/page.tsx
  apps/web/components/signup/EmailInput.tsx
  apps/web/components/signup/NameInput.tsx
  apps/web/components/signup/PasswordInput.tsx
  apps/web/components/signup/SignupButton.tsx
Due: eslint-web, prettier

chore: 수파베이스 서버용 인터페이스 분리
  apps/web/lib/supabaseServerClient.ts
  apps/web/services/signup/createUserAccount.ts
Due: eslint-web, prettier

chore: 세션 로그인에 필요한 라이브러리 설치
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier

feat: 로그인시 토큰 쿠키로 전달하는 로직 추가
  apps/web/app/(auth-pages)/signup/page.tsx
  apps/web/app/api/login/route.tsx
  apps/web/app/api/signup/route.tsx
  apps/web/services/login/login.ts
  apps/web/services/login/setServerSession.ts
Due: eslint-web, prettier

feat: 세션 로그인 로직 구현 (#9)
  apps/web/services/login/setServerSession.ts
Due: eslint-web, prettier

feat: 로그인 페이지 로그인 로직 추가 (#9)
  apps/web/app/(auth-pages)/login/page.tsx
  apps/web/components/login/EmailInput.tsx
  apps/web/components/login/LoginButton.tsx
  apps/web/components/login/PasswordInput.tsx
Due: eslint-web, prettier

feat: tailwindcss의 유틸클래스로 사용가능한 색상, 폰트, 공간 디자인 토큰 생성 (#13)
  packages/ui/src/design-system/tailwindcss-styles/design-tokens/color-tokens/primitive-colors.css
  packages/ui/src/design-system/tailwindcss-styles/design-tokens/color-tokens/scale-colors.css
  packages/ui/src/design-system/tailwindcss-styles/design-tokens/color-tokens/semantic-colors.css
  packages/ui/src/design-system/tailwindcss-styles/design-tokens/spacing-tokens.css
  packages/ui/src/design-system/tailwindcss-styles/design-tokens/typography-tokens.css
Due: prettier

feat: design-tokens/index.css 파일에 색상, 폰트, 공간 토큰 연결 및 기타 토큰 추가 (#13)
  packages/ui/src/design-system/tailwindcss-styles/design-tokens/index.css
Due: prettier

fix: 일관성을 위해 폰트 line-height: normal 값을 20px로 수정 (#13)
  packages/ui/src/design-system/tailwindcss-styles/design-tokens/typography-tokens.css
Due: prettier

feat: typography 시맨틱 커스텀 클래스 생성 (#13)
  packages/ui/src/design-system/tailwindcss-styles/semantic-styles/typography-styles.css
Due: prettier

fix: 시맨틱 색상의 전역 토큰과 tailwindcss @theme 로 유틸클래스 설정하는 코드를 분리 (#13)
  packages/ui/src/design-system/tailwindcss-styles/design-tokens/color-tokens/semantic-colors.css
  packages/ui/src/design-system/tailwindcss-styles/semantic-styles/colors-styles.css
Due: prettier

feat: ui 패키지의 새로운 globals.css 정의 (#13)
  packages/ui/src/globals.css
Due: prettier

chore: 중복되는 import 'tailwindcss' 문구 제거 (#13)
  packages/ui/src/design-system/tailwindcss-styles/design-tokens/index.css
  packages/ui/src/design-system/tailwindcss-styles/semantic-styles/colors-styles.css
  packages/ui/src/design-system/tailwindcss-styles/semantic-styles/typography-styles.css
Due: prettier

chore: 유틸클래스 예시 주석 수정 (#13)
  packages/ui/src/design-system/tailwindcss-styles/semantic-styles/colors-styles.css
Due: prettier

chore: 테스트를 위해 기존 ui의 global.css에 새로운 globals.css import 문 추가 (#13)
  packages/ui/src/global.css
Due: prettier

fix: --breakpoint-sm 값을 mobile 기준 375px 초과할 경우의 기준으로 수정 (#13)
  packages/ui/src/design-system/tailwindcss-styles/design-tokens/index.css
Due: prettier

chore: 중복되는 tailwindcss import 문 제거 (#13)
  packages/ui/src/design-system/tailwindcss-styles/design-tokens/spacing-tokens.css
  packages/ui/src/design-system/tailwindcss-styles/design-tokens/typography-tokens.css
Due: prettier

Path conditions:
  eslint-web: any of: apps/web/**/*.{js,ts,jsx,tsx}
  eslint-docs: any of: apps/docs/**/*.{js,ts,jsx,tsx}
  eslint-ui: any of: packages/ui/**/*.{js,ts,jsx,tsx}
  prettier: any of: **/*.{js,ts,jsx,tsx,json,yaml,md,css}
