Repository DIBTP-E2E/KFE3-dibtp: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-web, eslint-docs, eslint-ui, prettier

eslint-web:
  run: pnpm --filter=web exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-docs:
  run: pnpm --filter=docs exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-ui:
  run: pnpm --filter=ui exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

feat: next.js 15에서 manifest.json을 manifest.ts로 마이그레이션 (#221)
  apps/web/app/manifest.json
  apps/web/app/manifest.ts
Due: eslint-web, prettier

feat: pwa 매니저 및 서비스 워커 구현 (#221)
  apps/web/components/shared/PWAManager.tsx
  apps/web/components/shared/index.ts
  apps/web/public/sw.js
Due: eslint-web, prettier

feat: next.js 15 호환성을 위한 viewport 메타데이터 마이그레이션 및 pwa 매니저 통합 (#221)
  apps/web/app/layout.tsx
Due: eslint-web, prettier

feat: 보안 헤더 및 서비스 워커 설정 추가 (#221)
  apps/web/next.config.ts
Due: prettier

chore: sentry 관련 의존성 업데이트 (#221)
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier

fix: 빌드 에러 수정, params 타입 수정 (#234)
  apps/web/app/api/users/[userId]/route.ts
Due: eslint-web, prettier

feat: ui 패키지의 아바타 컴포넌트의 디폴트 이미지 적용 (#231)
  packages/ui/src/design-system/base-components/Avatar/Avatar.tsx
Due: eslint-ui, prettier

feat: 이미지 로딩 실패 시 디폴트 이미지로 대체되도록 에러 핸들링 (#231)
  packages/ui/src/design-system/base-components/Avatar/Avatar.tsx
Due: eslint-ui, prettier

refactor: svg 코드를 defaultProfileImg 변수로 분리 (#231)
  packages/ui/src/design-system/base-components/Avatar/Avatar.tsx
Due: eslint-ui, prettier

fix: 디폴트 이미지가 깨져보이는 느낌 제거하기 위해 배경 색상과 보더색상 통일 (#231)
  packages/ui/src/design-system/base-components/Avatar/Avatar.tsx
Due: eslint-ui, prettier

fix: avatar 컴포넌트의 스토리 수정 (#231)
  packages/ui/src/design-system/base-components/Avatar/Avatar.stories.tsx
Due: eslint-ui, prettier

fix: 채팅화면에서 아바타 사이즈 수정 (#231)
  apps/web/components/chat/ChatList/ChatListItem.tsx
  apps/web/components/chat/ChatRoom/MessageBubble.tsx
Due: eslint-web, prettier

feat: Sentry 에러 모니터링 시스템 구축 (#220) (#223)
  apps/web/.gitignore
  apps/web/app/global-error.tsx
  apps/web/instrumentation-client.ts
  apps/web/instrumentation.ts
  apps/web/lib/sentry/context.ts
  apps/web/lib/sentry/index.ts
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint-web, prettier

chore: bump version to v1.23.0
  package.json
Due: none

fix: 빌드 에러 수정, params 타입 수정 (#234) (#235)
  apps/web/app/api/users/[userId]/route.ts
Due: eslint-web, prettier

chore: bump version to v1.23.1
  package.json
Due: none

fix: 빌드 에러를 만드는 스토리 제거 (#221)
  apps/web/components/login/LoginButton.stories.tsx
Due: eslint-web, prettier

fix: 빌드 오류 해결, 페이지 경로 오류 수정 (#221)
  apps/web/hooks/common/useAppNavigation.ts
Due: eslint-web, prettier

chore: 콘솔 로그 제거 (#221)
  apps/web/components/shared/PWAManager.tsx
Due: eslint-web, prettier

feat: prisma 트랜잭션 타입 추가 (#238)
  apps/web/types/lib/index.ts
  apps/web/types/lib/prisma-type.ts
Due: eslint-web, prettier

fix: 트랜잭션 타입 수정 (#238)
  apps/web/services/bids/server/createBid.ts
  apps/web/services/bids/server/getBidHistory.ts
  apps/web/services/products/server/updateProductState.ts
Due: eslint-web, prettier

feat: 디자인 시스템 아이콘 컴포넌트에 톱니바퀴 아이콘 추가 (#207)
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
Due: eslint-ui, prettier

chore: storie 파일을 감지할 때마다 chromatic deploy 되도록 chromatic.yml 파일 수정 (#231)
  .github/workflows/chromatic.yml
Due: none

feat: 프로필 수정 페이지로 이동 버튼 구현 (#207)
  apps/web/app/(pages)/mypage/profile/page.tsx
  apps/web/components/mypage/MypageHeader.tsx
Due: eslint-web, prettier

fix: avatar 컴포넌트의 border와 hover style 제거 (#231)
  packages/ui/src/design-system/base-components/Avatar/Avatar.stories.tsx
  packages/ui/src/design-system/base-components/Avatar/Avatar.tsx
Due: eslint-ui, prettier

feat: 프로필 수정 페이지 레이아웃 구성 (#207)
  apps/web/app/(pages)/mypage/profile/layout.tsx
Due: eslint-web, prettier

chore: 성능개선 커밋 prefix 'perf' 추가 (#237)
  commitlint.config.js
Due: none

perf: prefetch 하는 쿼리에서 동적 import 제거 (#237)
  apps/web/lib/query/server/prefetchMyInfo.ts
Due: eslint-web, prettier

feat: 디자인 시스템 아바타 컴포넌트 사이즈 변수 'max' 추가
  packages/ui/src/design-system/base-components/Avatar/Avatar.stories.tsx
  packages/ui/src/design-system/base-components/Avatar/Avatar.tsx
Due: eslint-ui, prettier

feat: 프로필 수정 폼 구현 (#207)
  apps/web/app/(pages)/mypage/profile/page.tsx
  apps/web/components/mypage-profile/ProfileImageForm.tsx
  apps/web/components/mypage-profile/ProfileNicknameForm.tsx
  apps/web/components/mypage-profile/ProfileUpdateButton.tsx
  apps/web/components/mypage-profile/index.ts
Due: eslint-web, prettier

feat: 위치 선택 시 도로명주소 표시 기능 추가 (#232)
  apps/web/components/location/LocationDisplay.tsx
  apps/web/hooks/location/useKakaoGeocoder.ts
  apps/web/types/location.ts
  apps/web/utils/location/address-utils.ts
Due: eslint-web, prettier

fix: 미들웨어 매처에서 정적 파일 제외로 불필요한 인증 확인 방지 (#232)
  apps/web/middleware.ts
Due: prettier

refactor: 위치 선택 및 지도 마커 관리 로직 개선 (#232)
  apps/web/components/location/LocationMap.tsx
  apps/web/components/product-form/LocationInfoField.tsx
  apps/web/hooks/location/useMapMarker.ts
Due: eslint-web, prettier

refactor: api 타입 정의 및 상품/사용자 정보 서비스 개선 (#232)
  apps/web/services/my-info/server/getMyInfo.ts
  apps/web/services/products/server/fetchProducts.ts
  apps/web/services/products/server/getMyProducts.ts
  apps/web/types/my-info/api.ts
  apps/web/types/product/api.ts
  apps/web/utils/products/product-mappers.ts
Due: eslint-web, prettier

chore: 디자인 시스템 아바타 컴포넌트 props 타입 변경
  packages/ui/src/design-system/base-components/Avatar/Avatar.tsx
Due: eslint-ui, prettier

refactor: 헤더 지역 표시 및 사용자 정보 훅 개선 (#232)
  apps/web/components/layout/header-icon/RegionLabel.tsx
  apps/web/hooks/my-info/useMyInfo.ts
  apps/web/hooks/users/useUserInfo.ts
Due: eslint-web, prettier

refactor: 디자인 시스템 변경 사항에 따른 수정 및 파일명 변경
  apps/web/app/(pages)/mypage/(mypage)/page.tsx
  apps/web/components/mypage-profile/ProfileImageForm.tsx
  apps/web/components/mypage/ProfileBanner.tsx
  apps/web/components/mypage/index.ts
Due: eslint-web, prettier

feat: 지도 줌 컨트롤 추가 (#232)
  apps/web/hooks/location/useKakaoMap.ts
Due: eslint-web, prettier

fix: 위치 설정 페이지 안내 문구 수정 (#232)
  apps/web/components/location/LocationHeader.tsx
Due: eslint-web, prettier

remove: 사용하지 않는 도시 상수 제거 (#232)
  apps/web/constants/cities.ts
  apps/web/constants/index.ts
Due: eslint-web, prettier

Path conditions:
  eslint-web: any of: apps/web/**/*.{js,ts,jsx,tsx}
  eslint-docs: any of: apps/docs/**/*.{js,ts,jsx,tsx}
  eslint-ui: any of: packages/ui/**/*.{js,ts,jsx,tsx}
  prettier: any of: **/*.{js,ts,jsx,tsx,json,yaml,md,css}
