Repository DIBTP-E2E/KFE3-dibtp: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-web, eslint-docs, eslint-ui, prettier

eslint-web:
  run: pnpm --filter=web exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-docs:
  run: pnpm --filter=docs exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-ui:
  run: pnpm --filter=ui exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

fix: colors token의 오탈자 수정 및 color token script에 순환참조 제거 (#33)
  packages/tailwind-config/design-tokens/color-tokens/primitive-colors.css
  packages/tailwind-config/design-tokens/color-tokens/scale-colors.css
  packages/tailwind-config/design-tokens/color-tokens/semantic-colors.css
  packages/ui/scripts/generate-tokens.ts
  packages/ui/src/design-system/design-tokens/generated-tokens.ts
Due: eslint-ui, prettier

feat: 위치 관련 util 추가 (#10)
  apps/web/utils/location/address-utils.ts
  apps/web/utils/location/index.ts
  apps/web/utils/location/kakao-map-utils.ts
  apps/web/utils/location/validate-location.ts
Due: eslint-web, prettier

feat: 에러 및 성공 응답 관련 util 추가 (#10)
  apps/web/utils/error/error-handler.ts
  apps/web/utils/error/index.ts
Due: eslint-web, prettier

fix: 스토리에 color token 별 hex 값과 tailwind 유틸클래스 정보 추가와 해당 유틸함수 생성 (#33)
  packages/ui/src/design-system/design-tokens/Colors.stories.tsx
  packages/ui/src/utils/storybook/color-token-utils.ts
  packages/ui/src/utils/storybook/index.ts
Due: eslint-ui, prettier

feat: 인증세션 관련 util 추가 (#10)
  apps/web/utils/auth/auth-utils.ts
  apps/web/utils/auth/index.ts
Due: eslint-web, prettier

feat: debounce util 추가 (#10)
  apps/web/utils/debounce.ts
  apps/web/utils/index.ts
Due: eslint-web, prettier

feat: 위치 관련 타입 추가 (#10)
  apps/web/types/index.ts
  apps/web/types/lib/kakao.d.ts
  apps/web/types/location.ts
Due: eslint-web, prettier

feat: 위치 관련 service 추가 (#10)
  apps/web/services/index.ts
  apps/web/services/location/createLocation.ts
  apps/web/services/location/index.ts
  apps/web/services/location/updateUserLocation.ts
Due: eslint-web, prettier

feat: 위치 관련 서버액션 추가 (#10)
  apps/web/server-actions/index.ts
  apps/web/server-actions/location/index.ts
  apps/web/server-actions/location/saveLocationAction.ts
Due: eslint-web, prettier

fix: supabase 클라이언트 오류 수정 (#10)
  apps/web/lib/supabase/middleware.ts
  apps/web/lib/supabase/server.ts
Due: eslint-web, prettier

feat: 위치 관련 커스텀훅 추가 (#10)
  apps/web/hooks/index.ts
  apps/web/hooks/location/index.ts
  apps/web/hooks/location/useKakaoGeocoder.ts
  apps/web/hooks/location/useKakaoMap.ts
  apps/web/hooks/location/useMapMarker.ts
Due: eslint-web, prettier

feat: 도시 관련 상수 추가 (#10)
  apps/web/constants/cities.ts
  apps/web/constants/index.ts
Due: eslint-web, prettier

feat: 위치 설정 관련 컴포넌트 추가 (#10)
  apps/web/app/(auth-pages)/location/page.tsx
  apps/web/components/location/LocationDisplay.tsx
  apps/web/components/location/LocationHeader.tsx
  apps/web/components/location/LocationMap.tsx
  apps/web/components/location/LocationMapContainer.tsx
  apps/web/components/location/SaveLocationButton.tsx
  apps/web/components/location/index.ts
Due: eslint-web, prettier

refactor: 스토리에서 사용하는 공통 컴포넌트 분리 (#33)
  packages/ui/src/storybook-components/HowToUse.tsx
  packages/ui/src/storybook-components/PageTitle.tsx
  packages/ui/src/storybook-components/Section.tsx
  packages/ui/src/storybook-components/SectionTitle.tsx
  packages/ui/src/storybook-components/StoryPage.tsx
  packages/ui/src/storybook-components/index.ts
Due: eslint-ui, prettier

fix: 시맨틱 배경 색상 bg-bg-neutral 을 bg-bg-base 로 수정, 연한색 적용 (#33)
  packages/tailwind-config/design-tokens/color-tokens/semantic-colors.css
  packages/tailwind-config/semantic-styles/colors-styles.css
  packages/ui/src/design-system/design-tokens/Colors.stories.tsx
  packages/ui/src/design-system/design-tokens/generated-tokens.ts
  packages/ui/src/storybook-components/HowToUse.tsx
Due: eslint-ui, prettier

comment: 레거시 typography 토큰과 스토리 파일에 레거시 안내 주석 추가 (#33)
  packages/ui/src/design-system/design-tokens/Typography.stories.tsx
  packages/ui/src/design-system/design-tokens/typography.ts
Due: eslint-ui, prettier

feat: semantic color token 스토리북 문서 추가 (#33)
  packages/ui/src/design-system/design-tokens/Colors.stories.tsx
Due: eslint-ui, prettier

docs: 스토리북 디자인 토큰 문서에서 Semantic 과 Scale Color 분리 (#33)
  packages/ui/src/design-system/design-tokens/Colors.stories.tsx
  packages/ui/src/design-system/design-tokens/ScaleColors.stories.tsx
  packages/ui/src/design-system/design-tokens/SemanticColors.stories.tsx
  packages/ui/src/storybook-components/ColorList.tsx
  packages/ui/src/storybook-components/ColorPalette.tsx
  packages/ui/src/storybook-components/HowToUseClass.tsx
  packages/ui/src/storybook-components/index.ts
Due: eslint-ui, prettier

comment: 불필요한 주석 제거 (#33)
  packages/ui/src/utils/storybook/color-token-utils.ts
Due: eslint-ui, prettier

docs: primitive color 스토리 문서 추가 (#33)
  packages/tailwind-config/design-tokens/color-tokens/primitive-colors.css
  packages/ui/src/design-system/design-tokens/PrimitiveColors.stories.tsx
  packages/ui/src/design-system/design-tokens/ScaleColors.stories.tsx
  packages/ui/src/storybook-components/ColorPalette.tsx
Due: eslint-ui, prettier

chore: primitive color token 스토리 오탈자 제거 (#33)
  packages/ui/src/design-system/design-tokens/PrimitiveColors.stories.tsx
Due: eslint-ui, prettier

docs: semantic color 토큰 스토리를 utill 기준으로 세분화 (#33)
  packages/ui/src/design-system/design-tokens/SemanticColors.stories.tsx
Due: eslint-ui, prettier

rename: semantic-colors.css를 utility-colors.css 로 수정 (#38)
  packages/tailwind-config/design-tokens/color-tokens/utility-colors.css
  packages/tailwind-config/design-tokens/index.css
  packages/tailwind-config/semantic-styles/colors-styles.css
Due: prettier

rename: 기존 semantic color 토큰의 스토리 이름을 utility color 로 수정 (#38)
  packages/ui/scripts/generate-tokens.ts
  packages/ui/src/design-system/design-tokens/ScaleColors.stories.tsx
  packages/ui/src/design-system/design-tokens/SemanticColors.stories.tsx
  packages/ui/src/design-system/design-tokens/UtilityColors.stories.tsx
  packages/ui/src/design-system/design-tokens/generated-tokens.ts
  packages/ui/src/storybook-components/ColorList.tsx
  packages/ui/src/utils/storybook/color-token-utils.ts
Due: eslint-ui, prettier

rename: scale-colors.css를 semantic-colors.css 로 수정 (#38)
  packages/tailwind-config/design-tokens/color-tokens/semantic-colors.css
  packages/tailwind-config/design-tokens/color-tokens/utility-colors.css
Due: prettier

rename: 기존 scale color 토큰의 스토리 이름을 semantic color 로 수정 (#38)
  packages/ui/scripts/generate-tokens.ts
  packages/ui/src/design-system/design-tokens/SemanticColors.stories.tsx
  packages/ui/src/design-system/design-tokens/generated-tokens.ts
  packages/ui/src/storybook-components/ColorList.tsx
  packages/ui/src/storybook-components/ColorPalette.tsx
  packages/ui/src/utils/storybook/color-token-utils.ts
Due: eslint-ui, prettier

docs: color token 스토리 문서를 가독성있게 수정 (#38)
  packages/ui/src/design-system/design-tokens/PrimitiveColors.stories.tsx
  packages/ui/src/design-system/design-tokens/SemanticColors.stories.tsx
  packages/ui/src/design-system/design-tokens/UtilityColors.stories.tsx
Due: eslint-ui, prettier

rename: ui 패키지 내 design-token 디렉토리명을 명확하게 design-token-stories 로 수정 (#38)
  packages/ui/scripts/generate-tokens.ts
  packages/ui/src/design-system/design-token-stories/Typography.stories.tsx
  packages/ui/src/design-system/design-token-stories/colors/PrimitiveColors.stories.tsx
  packages/ui/src/design-system/design-token-stories/colors/SemanticColors.stories.tsx
  packages/ui/src/design-system/design-token-stories/colors/UtilityColors.stories.tsx
  packages/ui/src/design-system/design-token-stories/colors/generated-tokens.ts
  packages/ui/src/design-system/design-token-stories/typography.ts
  packages/ui/src/utils/storybook/color-token-utils.ts
Due: eslint-ui, prettier

feat: input 수정 및 관련 훅, 스토리 추가 (#39)
  packages/ui/src/design-system/base-components/Input/Input.stories.tsx
  packages/ui/src/design-system/base-components/Input/Input.tsx
  packages/ui/src/design-system/base-components/Input/hooks/useInputState.ts
  packages/ui/src/design-system/base-components/Input/index.ts
  packages/ui/src/design-system/base-components/Input/stories/Input.stories.tsx
Due: eslint-ui, prettier

feat: labeledinput 추가 및 관련 컴포넌트, 스토리 추가 (#39)
  packages/ui/src/design-system/base-components/Input/LabeledInput.tsx
  packages/ui/src/design-system/base-components/Input/components/InputLabel.tsx
  packages/ui/src/design-system/base-components/Input/components/InputMessage.tsx
  packages/ui/src/design-system/base-components/Input/stories/LabeledInput.stories.tsx
Due: eslint-ui, prettier

feat: passwordinput 추가 및 관련 컴포넌트, 스토리 추가 (#39)
  packages/ui/src/design-system/base-components/Input/PasswordInput.tsx
  packages/ui/src/design-system/base-components/Input/components/PasswordToggle.tsx
  packages/ui/src/design-system/base-components/Input/stories/PasswordInput.stories.tsx
Due: eslint-ui, prettier

refactor: inputlabel을 label 전용 컴포넌트로 분리 및 수정 (#44)
  packages/ui/src/design-system/base-components/Input/LabeledInput.tsx
  packages/ui/src/design-system/base-components/Label/Label.stories.tsx
  packages/ui/src/design-system/base-components/Label/Label.tsx
  packages/ui/src/design-system/base-components/Label/index.ts
Due: eslint-ui, prettier

refactor: inputmessage를 formmessage 전용 컴포넌트로 분리 및 수정 (#44)
  packages/ui/src/design-system/base-components/FormMessage/FormMessage.stories.tsx
  packages/ui/src/design-system/base-components/FormMessage/FormMessage.tsx
  packages/ui/src/design-system/base-components/FormMessage/index.ts
Due: eslint-ui, prettier

refactor: 로그인폼 클라이언트 컴포넌트로 수정 (#41)
  apps/web/app/(auth-pages)/login/page.tsx
  apps/web/components/login/LoginButton.tsx
  apps/web/components/login/LoginForm.tsx
  apps/web/components/login/index.ts
Due: eslint-web, prettier

refactor: 로그인 후 리다이렉트 로직 클라이언트 측에서 처리하도록 수정 (#41)
  apps/web/server-actions/login/loginAction.ts
Due: eslint-web, prettier

chore: 로그인/회원가입 에러메시지 처리 방법 수정
  apps/web/components/shared/FormErrorMessage.tsx
Due: eslint-web, prettier

refactor: 회원가입폼 클라이언트 컴포넌트로 수정 (#41)
  apps/web/app/(auth-pages)/signup/page.tsx
  apps/web/components/signup/SignupButton.tsx
  apps/web/components/signup/SignupForm.tsx
  apps/web/components/signup/index.ts
Due: eslint-web, prettier

refactor: 회원가입 후 리다이렉트 로직 클라이언트 측에서 처리하도록 수정 (#41)
  apps/web/server-actions/signup/signupAction.ts
Due: eslint-web, prettier

chore: 에러메시지 세분화 및 구체화
  apps/web/services/login/setServerSession.ts
  apps/web/services/signup/createUserAccount.ts
Due: eslint-web, prettier

feat: textarea 컴포넌트 및 스토리 추가 (#43)
  packages/ui/src/design-system/base-components/Input/index.ts
  packages/ui/src/design-system/base-components/Textarea/Textarea.tsx
  packages/ui/src/design-system/base-components/Textarea/stories/Textarea.stories.tsx
Due: eslint-ui, prettier

Path conditions:
  eslint-web: any of: apps/web/**/*.{js,ts,jsx,tsx}
  eslint-docs: any of: apps/docs/**/*.{js,ts,jsx,tsx}
  eslint-ui: any of: packages/ui/**/*.{js,ts,jsx,tsx}
  prettier: any of: **/*.{js,ts,jsx,tsx,json,yaml,md,css}
