Repository DIBTP-E2E/KFE3-dibtp: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-web, eslint-docs, eslint-ui, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    debug:
      run: echo "Running pre-commit hooks"

    eslint-web:
      glob: 'apps/web/**/*.{js,ts,jsx,tsx}'
      run: pnpm --filter=web exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
      stage_fixed: true

    eslint-docs:
      glob: 'apps/docs/**/*.{js,ts,jsx,tsx}'
      run: pnpm --filter=docs exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
      stage_fixed: true

    eslint-ui:
      glob: 'packages/ui/**/*.{js,ts,jsx,tsx}'
      run: pnpm --filter=ui exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
      stage_fixed: true

    prettier:
      glob: '**/*.{js,ts,jsx,tsx,json,yaml,md,css}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    lint-commit-msg:
      run: pnpm exec commitlint --edit {1}

chore: 변경사항에 따라 ProductCard의 가격표시 코드도 수정
  apps/web/components/products/ProductCard.tsx
Due: eslint-web, prettier

perf: 미들웨어에서 인증 후 사용자 정보 쿠키에 저장 (#249)
  apps/web/lib/supabase/server/middleware.ts
Due: eslint-web, prettier

refactor: 미들웨어 내 response 변수를 목적 중심으로 수정 (#249)
  apps/web/lib/supabase/server/middleware.ts
Due: eslint-web, prettier

feat: cookie key를 상수로 모듈화 (#249)
  apps/web/constants/cookies.ts
  apps/web/constants/index.ts
  apps/web/lib/supabase/server/middleware.ts
Due: eslint-web, prettier

feat: cookie 에 저장한 user info 들을 가져오기 위한 유틸함수들 생성 (#249)
  apps/web/services/my-info/client/fetchMyInfo.ts
  apps/web/services/my-info/server/getMyInfo.ts
  apps/web/utils/auth/server/index.ts
  apps/web/utils/auth/server/my-info-utils.ts
Due: eslint-web, prettier

perf: 지역 상품 조회시 인증 과정 및 지역 조회 로직을 쿠키에 저장된 지역 정보를 활용하여 성능 개선 (#249)
  apps/web/services/products/server/fetchProducts.ts
Due: eslint-web, prettier

rename: server 에서 상품 조회하는 서비스함수 명을 fetchProductsWithPrisma 에서 getProductsWithPrisma 로 수정 (#249)
  apps/web/components/products/ProductList.tsx
  apps/web/services/products/server/getProducts.ts
  apps/web/services/products/server/index.ts
Due: eslint-web, prettier

perf: 페이지에서 직접 auth DB에 접근하는 인증 로직을 middelware에서 인증 후 쿠키에 저장한 정보를 fetch 하도록 수정 (#249)
  apps/web/app/(pages)/chat/[chatRoomId]/page.tsx
  apps/web/app/(pages)/mypage/(mypage)/page.tsx
  apps/web/app/(pages)/products/[productId]/(detail)/page.tsx
  apps/web/app/(pages)/products/[productId]/edit/page.tsx
  apps/web/app/api/bids/my/route.ts
  apps/web/app/api/bids/route.ts
  apps/web/app/api/favorites/route.ts
  apps/web/app/api/images/route.ts
  apps/web/app/api/my-info/route.ts
  apps/web/app/api/products/[productId]/route.ts
  apps/web/app/api/products/route.ts
  apps/web/app/api/products/status/route.ts
  apps/web/server-actions/location/saveLocationAction.ts
  apps/web/services/products/server/getMyProducts.ts
  apps/web/utils/auth/server/my-info-utils.ts
Due: eslint-web, prettier

feat: thumbnail 컴포넌트에 containerWidth prop 추가 및 avatar imageComponent 처리 개선 (#261)
  apps/web/middleware.ts
  packages/ui/src/design-system/base-components/Avatar/Avatar.tsx
  packages/ui/src/design-system/base-components/Thumbnail/Thumbnail.stories.tsx
  packages/ui/src/design-system/base-components/Thumbnail/Thumbnail.tsx
Due: eslint-ui, prettier

feat: next.js image 최적화를 위한 nextAvatar 및 nextThumbnail 컴포넌트 추가 (#261)
  apps/web/components/shared/NextAvatar.tsx
  apps/web/components/shared/NextThumbnail.tsx
  apps/web/components/shared/index.ts
Due: eslint-web, prettier

refactor: 기존 컴포넌트들에서 nextAvatar 및 nextThumbnail 적용으로 이미지 최적화 (#261)
  apps/web/components/chat/ChatList/ChatListItem.tsx
  apps/web/components/chat/ChatRoom/MessageBubble.tsx
  apps/web/components/mypage-profile/ProfileImageForm.tsx
  apps/web/components/mypage/ProfileBanner.tsx
  apps/web/components/product-detail/SellerAvatar.tsx
  apps/web/components/product-form/ProductImage.tsx
  apps/web/components/products/ProductCard.tsx
Due: eslint-web, prettier

feat: productImageCarousel fill 모드 적용 및 용도별 quality 최적화 설정 (#261)
  apps/web/components/product-detail/ProductImageCarousel.tsx
  apps/web/components/products/ProductThumb.tsx
Due: eslint-web, prettier

refactor: supabase storage 최적화 코드 제거 및 next.js image 최적화로 전환 (#261)
  apps/web/constants/image-config.ts
  apps/web/services/images/server/getTransformedUrl.ts
  apps/web/services/images/server/index.ts
  apps/web/types/image/config.ts
Due: eslint-web, prettier

fix: next 의존성 제거 및 export 수정 (#261)
  packages/ui/package.json
  packages/ui/src/design-system/base-components/Avatar/index.ts
  packages/ui/src/design-system/base-components/Thumbnail/index.ts
Due: eslint-ui, prettier

fix: 의미없는 usememo 제거 (#252)
  apps/web/components/products/ProductCard.tsx
Due: eslint-web, prettier

fix: next 의존성 제거로 인한 변경 (#261)
  pnpm-lock.yaml
Due: none

remove: 사용하지 않는 ui 컴포넌트 제거 (#261)
  packages/ui/src/design-system/base-components/Card/Card.stories.tsx
  packages/ui/src/design-system/base-components/Card/Card.tsx
  packages/ui/src/design-system/base-components/Card/index.ts
Due: eslint-ui, prettier

remove: card 컴포넌트 export 제거 (#261)
  packages/ui/src/design-system/base-components/index.ts
Due: eslint-ui, prettier

refactor: auth 유틸함수 web app 별칭 사용 (#249)
  apps/web/utils/auth/server/auth-utils.ts
Due: eslint-web, prettier

chore: 인덱스 값 수정
  apps/web/services/bids/client/index.ts
  apps/web/services/bids/server/index.ts
Due: eslint-web, prettier

feat: 상품 리스트 경매 종료시 UI 구현
  apps/web/components/products/ProductCard.tsx
Due: eslint-web, prettier

chore: 불필요한 콘솔 삭제
  apps/web/services/bids/server/getBidByProduct.ts
Due: eslint-web, prettier

remove: lighthouse ci 관련 코드 제거 - 설정 파일 및 종속성 정리 (#255)
  .github/workflows/lighthouse-ci.yml
  apps/web/package.json
  lighthouse-auth.js
  lighthouserc.js
Due: prettier

fix: lighthouse ci 제거에 따른 의존성 최신화 (#252)
  pnpm-lock.yaml
Due: none

refactor: 목적에 맞게 직관적인 변수명으로 수정 (#261)
  packages/ui/src/design-system/base-components/Thumbnail/Thumbnail.stories.tsx
  packages/ui/src/design-system/base-components/Thumbnail/Thumbnail.tsx
Due: eslint-ui, prettier

refactor: thumbnail 컴포넌트 props 이름 변경에 따른 수정 (#261)
  apps/web/components/product-form/ProductImage.tsx
  apps/web/components/products/ProductThumb.tsx
  apps/web/components/shared/NextThumbnail.tsx
Due: eslint-web, prettier

refactor: thumbnail 컴포넌트 props 이름 변경에 따른 수정 (#261)
  apps/web/components/products/ProductCard.tsx
Due: eslint-web, prettier

fix: 채팅 프로필 이미지 없을 때 null 값으로 수정 (#261)
  apps/web/components/chat/ChatList/ChatListItem.tsx
Due: eslint-web, prettier

chore: 사용하지 않는 auth-utils 파일 제거 및 console.time 제거 (#249)
  apps/web/lib/supabase/server/middleware.ts
  apps/web/utils/auth/server/auth-utils.ts
Due: eslint-web, prettier

feat: 거래 희망 장소 UI 추가 (#259)
  apps/web/app/(pages)/products/[productId]/(detail)/page.tsx
  apps/web/components/product-detail/ProductAddress.tsx
  apps/web/components/product-detail/index.ts
Due: eslint-web, prettier

chore: import 형식 수정
  apps/web/components/product-detail/BidButton.tsx
  apps/web/components/products/ProductCard.tsx
  apps/web/components/products/ProductList.tsx
  apps/web/components/products/ProductListWithSuspense.tsx
  apps/web/components/products/ProductThumb.tsx
  apps/web/hooks/products/useCurrentPrice.ts
Due: eslint-web, prettier

chore: 스타일 디자인 토큰값으로 변경
  apps/web/components/product-detail/ProductAddress.tsx
  apps/web/components/product-detail/ProductDescription.tsx
Due: eslint-web, prettier

chore: 디자인 토큰 값 수정
  apps/web/components/product-detail/ProductAddress.tsx
  apps/web/components/product-detail/ProductDescription.tsx
Due: eslint-web, prettier

chore: bump version to v1.28.0
  package.json
Due: none

fix: 릴리즈 노트 자동화 시스템 개선 및 CHANGELOG.md 업데이트 기능 수정 (#267)
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

fix: auth-utils 모듈 제거하여 barrel export 제거 (#249)
  apps/web/utils/auth/server/index.ts
Due: eslint-web, prettier

fix: auth-utils 모듈 제거하여 barrel export 제거 (#269)
  apps/web/utils/auth/server/index.ts
Due: eslint-web, prettier

fix: github actions 무한 루프 방지 로직 추가 (#267)
  .github/workflows/release.yml
Due: none

fix: 릴리즈 버전 중복 생성 및 무한 루프 문제 해결 (#267)
  .github/workflows/release.yml
  scripts/generate-release-notes.js
Due: prettier

perf: prefetch 하는 layout 레벨 개선 및 HomePage 파일 이동 (#266)
  apps/web/app/(home)/layout.tsx
  apps/web/app/(home)/page.tsx
  apps/web/app/(pages)/(home)/page.tsx
  apps/web/app/(pages)/layout.tsx
  apps/web/app/layout.tsx
Due: eslint-web, prettier
