Repository DIBTP-E2E/KFE3-dibtp: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-web, eslint-docs, eslint-ui, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    debug:
      run: echo "Running pre-commit hooks"

    eslint-web:
      glob: 'apps/web/**/*.{js,ts,jsx,tsx}'
      run: pnpm --filter=web exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
      stage_fixed: true

    eslint-docs:
      glob: 'apps/docs/**/*.{js,ts,jsx,tsx}'
      run: pnpm --filter=docs exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
      stage_fixed: true

    eslint-ui:
      glob: 'packages/ui/**/*.{js,ts,jsx,tsx}'
      run: pnpm --filter=ui exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
      stage_fixed: true

    prettier:
      glob: '**/*.{js,ts,jsx,tsx,json,yaml,md,css}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    lint-commit-msg:
      run: pnpm exec commitlint --edit {1}

refactor: cancel 상태 상품만 수정 가능하도록 권한 변경 (#251)
  apps/web/app/(pages)/products/[productId]/edit/page.tsx
  apps/web/app/api/products/[productId]/route.ts
Due: eslint-web, prettier

feat: 상품 등록 시 경매 즉시 시작 안내 모달 추가 (#251)
  apps/web/components/product-register/ProductRegisterForm.tsx
  apps/web/hooks/products/useProductForm.ts
Due: eslint-web, prettier

fix: product mapper에서 ready 상태 fallback을 active로 변경 (#251)
  apps/web/utils/products/product-mappers.ts
Due: eslint-web, prettier

chore: warning(주의) 아이콘 추가 (#251)
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
Due: eslint-ui, prettier

fix: 상품 ready 상태 제거에 따른 수정 (#251)
  apps/web/utils/bids/mapBidHistoryResponse.ts
  apps/web/utils/products/product-mappers.ts
Due: eslint-web, prettier

refactor: 상품 상태 관련 상수 추가 (#251)
  apps/web/components/sales/SalesHistoryTabs.tsx
  apps/web/components/shared/ProductBadge.tsx
  apps/web/constants/products/product-status.ts
  apps/web/hooks/products/useProductActions.ts
  apps/web/services/products/client/startAuction.ts
  apps/web/services/products/client/stopAuction.ts
Due: eslint-web, prettier

refactor: 상품 액션 훅 재사용 위한 수정 (#251)
  apps/web/hooks/products/useProductActionMenu.ts
Due: eslint-web, prettier

feat: 상품 상세 페이지에 판매자 본인만 상태 변경할 수 있는 버튼 추가 (#251)
  apps/web/app/(pages)/products/[productId]/(detail)/page.tsx
  apps/web/components/product-detail/StatusActionButton.tsx
  apps/web/components/product-detail/index.ts
Due: eslint-web, prettier

fix: 아이콘 중복 추가 에러 수정 (#251)
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
Due: eslint-ui, prettier

design: 프로필 이미지 수정 아이콘 위치 수정 (#251)
  apps/web/components/mypage-profile/ProfileImageForm.tsx
Due: eslint-web, prettier

fix: alert를 toast로 수정 (#251)
  apps/web/components/product-detail/StatusActionButton.tsx
Due: eslint-web, prettier

fix: 상품 액션 메시지 토스트로 수정 (#251)
  apps/web/hooks/products/useProductActions.ts
Due: eslint-web, prettier

fix: 사용하지 않는 아이콘 제거 (#251)
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
Due: eslint-ui, prettier

refactor: 상품 액션 중 시작, 중지 토스트 추가 (#251)
  apps/web/hooks/products/useProductActions.ts
  apps/web/services/products/client/startAuction.ts
  apps/web/services/products/client/stopAuction.ts
Due: eslint-web, prettier

fix: middleware config 설정을 정적 파일을 제외하는 형태에서 updateSession이 필요한 네트워크 요청의 경우를 직접 명시하는 방식으로 수정 (#250)
  apps/web/middleware.ts
Due: prettier

fix: 공유하기는 경매중인 상품만 가능하도록 수정 (#251)
  apps/web/hooks/products/useProductActionMenu.ts
Due: eslint-web, prettier

feat: 성능 측정을 위한 Bundle Analyzer 설정 추가 (#255)
  apps/web/next.config.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier

feat: core web vitals 실시간 모니터링 기능 추가 (#255)
  apps/web/app/layout.tsx
  apps/web/components/shared/WebVitalsReporter.tsx
  apps/web/components/shared/index.ts
Due: eslint-web, prettier

feat: api 헬스체크 엔드포인트 추가 (#255)
  apps/web/app/api/health/route.ts
Due: eslint-web, prettier

feat: lighthouse ci 설정 및 자동 로그인 스크립트 추가 (#255)
  lighthouse-auth.js
  lighthouserc.js
Due: none

feat: github actions lighthouse ci 워크플로우 추가 (#255)
  .github/workflows/lighthouse-ci.yml
Due: none

fix: github actions에서 pnpm 버전 충돌 해결 (#255)
  .github/workflows/lighthouse-ci.yml
Due: none

fix: 서버 시작 대기 시간 및 디버깅 로그 개선 (#255)
  .github/workflows/lighthouse-ci.yml
Due: none

fix: start 스크립트에서 포트 3001 사용하도록 수정 (#255)
  apps/web/package.json
Due: prettier

fix: github actions에 chrome 설치 단계 추가 (#255)
  .github/workflows/lighthouse-ci.yml
Due: none

fix: lighthouse ci에서 chrome 경로 명시적 지정 (#255)
  .github/workflows/lighthouse-ci.yml
Due: none

fix: lighthouserc.js에 chrome 경로 직접 지정 (#255)
  lighthouserc.js
Due: none

fix: puppeteerLaunchOptions로 chrome 샌드박스 문제 해결 (#255)
  lighthouserc.js
Due: none

fix: lighthouse-auth.js를 위한 puppeteer 전역 설치 (#255)
  .github/workflows/lighthouse-ci.yml
Due: none

fix: puppeteer를 프로젝트 루트에 직접 설치 (#255)
  .github/workflows/lighthouse-ci.yml
Due: none

fix: npm 설치 오류 해결을 위한 임시 package.json 생성 (#255)
  .github/workflows/lighthouse-ci.yml
Due: none

refactor: 모범 사례에 따른 lighthouse ci 설정 단순화 (#255)
  .github/workflows/lighthouse-ci.yml
  lighthouserc.js
Due: none

fix: apps/web의 기존 puppeteer 사용하도록 경로 수정 (#255)
  .github/workflows/lighthouse-ci.yml
  lighthouse-auth.js
  lighthouserc.js
Due: none

chore: puppeteer 설치 상태 및 chrome 경로 디버깅 추가 (#255)
  .github/workflows/lighthouse-ci.yml
Due: none

fix: chrome 경로를 환경변수로 전달하도록 수정 (#255)
  .github/workflows/lighthouse-ci.yml
  lighthouserc.js
Due: none

fix: lighthouse preset을 perf로 변경 및 모바일 에뮬레이션 설정 추가 (#255)
  lighthouserc.js
Due: none

fix: 자체 서버 시작 비활성화하여 기존 서버(3001) 사용 (#255)
  lighthouserc.js
Due: none

fix: lighthouse 자동 로그인 스크립트 안정성 개선 (#255)
  lighthouse-auth.js
Due: none

fix: lighthouse-auth.js 변수 중복 선언 오류 및 chromeFlags 경고 해결 (#255)
  lighthouse-auth.js
  lighthouserc.js
Due: none

fix: puppeteer waitForTimeout 호환성 문제 해결 (#255)
  lighthouse-auth.js
Due: none
