Repository DIBTP-E2E/KFE3-dibtp: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-web, eslint-docs, eslint-ui, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    debug:
      run: echo "Running pre-commit hooks"

    eslint-web:
      glob: 'apps/web/**/*.{js,ts,jsx,tsx}'
      run: pnpm --filter=web exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
      stage_fixed: true

    eslint-docs:
      glob: 'apps/docs/**/*.{js,ts,jsx,tsx}'
      run: pnpm --filter=docs exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
      stage_fixed: true

    eslint-ui:
      glob: 'packages/ui/**/*.{js,ts,jsx,tsx}'
      run: pnpm --filter=ui exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
      stage_fixed: true

    prettier:
      glob: '**/*.{js,ts,jsx,tsx,json,yaml,md,css}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    lint-commit-msg:
      run: pnpm exec commitlint --edit {1}

feat: 타이머 컴포넌트 구현 (#22)
  apps/web/components/shared/Timer.tsx
  apps/web/components/shared/index.ts
Due: eslint-web, prettier

feat: 타이머 컴포넌트 적용 및 다음 가격 표시 수정 (#22)
  apps/web/app/(pages)/products/[productId]/page.tsx
  apps/web/components/product-detail/AuctionInfoLayout.tsx
  apps/web/components/product-detail/NextPrice.tsx
  apps/web/components/product-detail/ProductFooter.tsx
Due: eslint-web, prettier

chore: 실수로 삭제된 export 복구
  apps/web/components/shared/index.ts
Due: eslint-web, prettier

refactor: 타이머 컴포넌트 불필요한 React.FC 사용 제거
  apps/web/components/shared/Timer.tsx
Due: eslint-web, prettier

fix: 이미지 bucket 변경으로 인해 수정 (#81)
  apps/web/constants/storage-bucket.ts
Due: eslint-web, prettier

feat: 네비게이션에 필요한 아이콘 추가 (#65)
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
Due: eslint-ui, prettier

feat: 상단, 하단 네비게이션 컴포넌트 추가 (#76)
  apps/web/components/layout/BottomNavigation.tsx
  apps/web/components/layout/TopNavigation.tsx
  apps/web/constants/navigation.ts
Due: eslint-web, prettier

feat: app의 기본 body 색상 및 html 태그 css 변경 (#76)
  apps/web/styles/globals.css
Due: prettier

chore: 추후 네비게이션 상수 수정 주석 추가 (#76)
  apps/web/constants/navigation.ts
Due: eslint-web, prettier

feat: 공통 레이아웃 페이지 컴포넌트 추가 (#76)
  apps/web/components/layout/PageContainer.tsx
  apps/web/components/layout/index.ts
Due: eslint-web, prettier

feat: 인증 관련 레이아웃 및 페이지 수정 (#76)
  apps/web/app/(auth-pages)/layout.tsx
  apps/web/app/(auth-pages)/location/layout.tsx
  apps/web/app/(auth-pages)/location/page.tsx
  apps/web/app/(auth-pages)/login/layout.tsx
  apps/web/app/(auth-pages)/login/page.tsx
  apps/web/app/(auth-pages)/signup/layout.tsx
  apps/web/app/(auth-pages)/signup/page.tsx
Due: eslint-web, prettier

fix: 메인 레이아웃 및 페이지 위치 수정 (#76)
  apps/web/app/(main)/layout.tsx
  apps/web/app/(main)/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
Due: eslint-web, prettier

fix: 주요 기능 관련 페이지 및 레이아웃 수정 (#76)
  apps/web/app/(pages)/chat/[chatId]/layout.tsx
  apps/web/app/(pages)/chat/[chatId]/page.tsx
  apps/web/app/(pages)/chat/layout.tsx
  apps/web/app/(pages)/chat/page.tsx
  apps/web/app/(pages)/layout.tsx
  apps/web/app/(pages)/products/[productId]/layout.tsx
  apps/web/app/(pages)/products/page.tsx
  apps/web/app/(pages)/products/register/layout.tsx
  apps/web/app/(pages)/products/register/page.tsx
Due: eslint-web, prettier

fix: badge 컴포넌트 사이즈 별로 좌우 패딩값이 다르게 적용되도록 css 업데이트(#69)
  packages/ui/src/design-system/base-components/Badge/Badge.tsx
Due: eslint-ui, prettier

refactor: thumbnail 컴포넌트에서 width 속성 값을 숫자와 단위 형태로 사용할 수 있도록 수정 (#69)
  packages/ui/src/design-system/base-components/Thumbnail/Thumbnail.tsx
Due: eslint-ui, prettier

feat: product badge 컴포넌트 props 속성 추가 및 스타일 업데이트 (#69)
  apps/web/components/shared/ProductBadge.tsx
Due: eslint-web, prettier

feat: 등록한지 상대적인 시간을 포맷팅하는 유틸함수 생성 (#69)
  apps/web/utils/date/formatRelativeTime.ts
  apps/web/utils/date/index.ts
  apps/web/utils/index.ts
Due: eslint-web, prettier

feat: product 관련 타입과 스키마 정의 (#69)
  apps/web/types/index.ts
  apps/web/types/products.ts
Due: eslint-web, prettier

chore: 이미지 supabase의 공개 스토리지 접근을 위한 pathname 패턴 설정 (#69)
  apps/web/next.config.ts
Due: prettier

feat: product 리스트를 호출하는 서비스함수 생성 (#69)
  apps/web/services/products/fetchProducts.ts
  apps/web/services/products/index.ts
Due: eslint-web, prettier

feat: product 용 썸네일 컴포넌트 생성 (#69)
  apps/web/assets/images/no-image.png
  apps/web/components/products/ProductThumb.tsx
Due: eslint-web, prettier

feat: product card, list, 스켈레톤 컴포넌트 생성 및 데이터 fetch (#69)
  apps/web/components/products/ProductCard.tsx
  apps/web/components/products/ProductList.tsx
  apps/web/components/products/ProductListSkeleton.tsx
  apps/web/components/products/ProductListWithSuspense.tsx
  apps/web/components/products/index.ts
Due: eslint-web, prettier

feat: product 페이지에 list 노출 (#69)
  apps/web/app/(pages)/products/page.tsx
Due: eslint-web, prettier

chore: product 타입 파일 디렉토리 한 곳에 정리 및 컨벤션에 맞게 수정 (#86)
  apps/web/services/products/createProduct.ts
  apps/web/services/products/fetchProducts.ts
  apps/web/types/product/api.ts
  apps/web/types/products.ts
Due: eslint-web, prettier

fix: thumbnail 컴포넌트에서 width 속성 값을 다시 tailwindcss 클래스로 받도록 수정 (#86)
  apps/web/components/products/ProductCard.tsx
  apps/web/components/products/ProductThumb.tsx
  packages/ui/src/design-system/base-components/Thumbnail/Thumbnail.tsx
Due: eslint-web, eslint-ui, prettier

fix: badge 컴포넌트 사이즈 별 폰트사이즈 수정 (#86)
  packages/ui/src/design-system/base-components/Badge/Badge.tsx
Due: eslint-ui, prettier

rename: home page 그룹 디렉토리명을 main 에서 home 으로 수정 및 home page에 상품 리스트 노출 (#86)
  apps/web/app/(home)/layout.tsx
  apps/web/app/(home)/page.tsx
  apps/web/app/(main)/page.tsx
Due: eslint-web, prettier

remove: 사용하지 않는 products 페이지 삭제 (#86)
  apps/web/app/(pages)/products/page.tsx
Due: eslint-web, prettier

fix: 사용하지 않는 상품 페이지로 라우팅 되는 nav 메뉴 제거 (#86)
  apps/web/constants/navigation.ts
Due: eslint-web, prettier

fix: 더이상 지원하지 않는 next의 optimizeFonts 옵션으로 에러 발생되어 제거 (#89)
  apps/web/next.config.ts
Due: prettier

fix: 사용하지 않는 products 페이지로 라우팅 되지 않도록 home 페이지로 라우팅 처리 (#89)
  apps/web/components/product-detail/BackButton.tsx
  apps/web/hooks/products/useProductForm.ts
Due: eslint-web, prettier

docs: readme 전면 개선 및 프로젝트 문서화 강화
  README.md
Due: none

[docs] Readme.md 업데이트
  README.md
Due: none

feat: 상품 상세 정보를 조회하는 fetchProductDetailWithPrisma 서비스함수 생성 (#91)
  apps/web/services/products/fetchProductDetail.ts
Due: eslint-web, prettier

refactor: product api 스키마 인터페이스 리팩토링 및 서비스 함수와 컴포넌트 props 반영 (#91)
  apps/web/components/products/ProductCard.tsx
  apps/web/components/products/ProductList.tsx
  apps/web/components/products/ProductThumb.tsx
  apps/web/components/shared/ProductBadge.tsx
  apps/web/services/products/fetchProducts.ts
  apps/web/types/product/api.ts
Due: eslint-web, prettier

fix: mockdata 에서 supabase fetch 데이터로 적용되도록 상품 상세 페이지 업데이트 (#91)
  apps/web/app/(pages)/products/[productId]/page.tsx
Due: eslint-web, prettier

Revert "[feat] 상품 상세 페이지 서비스 함수 생성 및 데이터 fetch #91 (#95)"
  apps/web/app/(pages)/products/[productId]/page.tsx
  apps/web/components/products/ProductCard.tsx
  apps/web/components/products/ProductList.tsx
  apps/web/components/products/ProductThumb.tsx
  apps/web/components/shared/ProductBadge.tsx
  apps/web/services/products/fetchProductDetail.ts
  apps/web/services/products/fetchProducts.ts
  apps/web/types/product/api.ts
Due: eslint-web, prettier

feat: 상품 상세 페이지 route 링크 추가 (#97)
  apps/web/components/products/ProductCard.tsx
Due: eslint-web, prettier

fix: 상품 상세페이지에서 수직 스크롤이 적용되지 않는 이슈 수정 (#96)
  apps/web/styles/globals.css
Due: prettier

feat: breakpoint md 사이즈의 이하 화면 너비에서는 디바이스 화면 100% 너비가 적용되도록 반응형 처리 (#88)
  apps/web/app/(pages)/products/[productId]/page.tsx
  apps/web/app/layout.tsx
  apps/web/components/layout/BottomNavigation.tsx
  apps/web/components/layout/TopNavigation.tsx
  apps/web/components/product-detail/ProductDetailHeader.tsx
  apps/web/components/product-detail/ProductFooter.tsx
Due: eslint-web, prettier
