Repository DIBTP-E2E/KFE3-dibtp: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-web, eslint-docs, eslint-ui, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    debug:
      run: echo "Running pre-commit hooks"

    eslint-web:
      glob: 'apps/web/**/*.{js,ts,jsx,tsx}'
      run: pnpm --filter=web exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
      stage_fixed: true

    eslint-docs:
      glob: 'apps/docs/**/*.{js,ts,jsx,tsx}'
      run: pnpm --filter=docs exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
      stage_fixed: true

    eslint-ui:
      glob: 'packages/ui/**/*.{js,ts,jsx,tsx}'
      run: pnpm --filter=ui exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
      stage_fixed: true

    prettier:
      glob: '**/*.{js,ts,jsx,tsx,json,yaml,md,css}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    lint-commit-msg:
      run: pnpm exec commitlint --edit {1}

chore: 로그인 페이지 상태 확인을 위한 상세 디버깅 추가 (#255)
  lighthouse-auth.js
Due: none

fix: 이미 로그인된 상태에서 중복 로그인 시도 방지 (#255)
  lighthouse-auth.js
Due: none

feat: 공개 페이지는 인증 없이 측정하도록 조건부 로그인 구현 (#255)
  lighthouse-auth.js
  lighthouserc.js
Due: none

fix: lighthouse 검사 페이지 주소 오타 수정 (#255)
  lighthouserc.js
Due: none

refactor: 리액트 아이콘 패밀리 의존성 최소화 (#257)
  apps/web/components/search/RecentKeywords.tsx
  packages/ui/src/design-system/base-components/IconButton/IconButton.stories.tsx
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
Due: eslint-web, eslint-ui, prettier

perf: github actions 빌드 캐시 최적화로 ci 속도 50-80% 개선 (#255)
  .github/workflows/lighthouse-ci.yml
Due: none

refactor: 별도로 아이콘 사용중이던 부분 icon 컴포넌트 사용하도록 리팩토링
  packages/ui/src/design-system/base-components/FormMessage/FormMessage.tsx
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
  packages/ui/src/design-system/base-components/Input/components/PasswordToggle.tsx
Due: eslint-ui, prettier

fix: 성능 측정 대상 페이지 축소 (#255)
  lighthouserc.js
Due: none

fix: lighthouse ci 인증 오류 해결 및 측정 순서 최적화 (#255)
  lighthouse-auth.js
  lighthouserc.js
Due: none

fix: lighthouse 로그인 후 불필요한 재이동 방지 (#255)
  lighthouse-auth.js
Due: none

perf: github actions 빌드 캐시 최적화로 ci 속도 개선 (#255)
  .github/workflows/lighthouse-ci.yml
Due: none

fix: lighthouse ci assertion 오류 방지를 위해 모든 error를 warn으로 변경 (#255)
  lighthouserc.js
Due: none

fix: github actions에 pr 코멘트 권한 추가로 422 오류 해결 (#255)
  .github/workflows/lighthouse-ci.yml
Due: none

fix: lighthouse ci github 권한 및 아티팩트 업로드 문제 해결 (#255)
  .github/workflows/lighthouse-ci.yml
Due: none

fix: prisma client 생성 오류 해결을 위한 빌드 순서 개선 (#255)
  .github/workflows/lighthouse-ci.yml
Due: none

fix: prisma client import 경로 수정 (#255)
  apps/web/app/api/health/route.ts
Due: eslint-web, prettier

fix: lighthouse로 측정할 핵심 지표로 정리 (#255)
  lighthouserc.js
Due: none

perf: github actions 워크플로우 대폭 최적화로 ci 속도 50-80% 개선 (#255)
  .github/workflows/lighthouse-ci.yml
Due: none

fix: chrome 경로 검증 강화로 puppeteer 오류 해결 (#255)
  .github/workflows/lighthouse-ci.yml
Due: none

fix: 로그인 페이지 디버깅 강화 및 스크린샷 캡처 추가 (#255)
  .github/workflows/lighthouse-ci.yml
  lighthouse-auth.js
Due: none

feat: 상품 등록시 auction_started_at 설정 (#259)
  apps/web/app/api/products/route.ts
  apps/web/services/products/server/fetchProductDetail.ts
  apps/web/types/product/domain.ts
  apps/web/utils/products/product-mappers.ts
Due: eslint-web, prettier

refactor: createdAt, auction_started_at으로 수정(#259)
  apps/web/app/(pages)/products/[productId]/(detail)/page.tsx
  apps/web/components/product-detail/AuctionInfoLayout.tsx
  apps/web/components/product-detail/ProductFooter.tsx
Due: eslint-web, prettier

fix: detached frame 오류 해결을 위한 페이지 상태 검증 강화 (#255)
  lighthouse-auth.js
Due: none

feat: 경매 타이머에 경매 상태 반영하도록 수정 (#259)
  apps/web/app/(pages)/products/[productId]/(detail)/page.tsx
  apps/web/components/product-detail/AuctionInfoLayout.tsx
  apps/web/components/product-detail/ProductFooter.tsx
  apps/web/components/shared/Timer.tsx
Due: eslint-web, prettier

fix: lighthouse CI detached frame 오류 완전 해결 - 글로벌 로그인 상태 추적으로 중복 인증 방지 (#255)
  lighthouse-auth.js
Due: none

feat: 입찰로직 가격계산 매개변수 수정 (#259)
  apps/web/app/api/bids/route.ts
Due: eslint-web, prettier

chore: 수파베이스 auction_started_at 타입 null 제외
  apps/web/lib/prisma/schema.prisma
Due: none

fix: lighthouse CI github 422 오류 해결 - github 토큰 일시 비활성화로 상태 체크 중단 (#255)
  .github/workflows/lighthouse-ci.yml
  lighthouse-auth.js
  lighthouserc.js
Due: none

feat: 경매 입찰 버튼에 상태값 관련 로직 추가 (#259)
  apps/web/app/(pages)/products/[productId]/(detail)/page.tsx
  apps/web/components/product-detail/BidButton.tsx
  apps/web/components/product-detail/ProductFooter.tsx
Due: eslint-web, prettier

fix: lighthouse CI env에서 github 토큰도 완전 비활성화 및 로그인 안정성 개선 (#255)
  .github/workflows/lighthouse-ci.yml
  lighthouse-auth.js
Due: none

fix: detached frame 오류 해결 - browser.newPage() 대신 기존 페이지 사용으로 컨텍스트 충돌 방지 (#255)
  lighthouse-auth.js
Due: none

fix: lighthouse CI 업로드 타겟을 filesystem으로 변경 - github 토큰 없이도 결과 파일 생성 (#255)
  lighthouserc.js
Due: none

feat: 가격 변동 로직 수정 (#259)
  apps/web/components/product-detail/AuctionInfoLayout.tsx
  apps/web/components/product-detail/CurrentPrice.tsx
  apps/web/components/product-detail/NextPrice.tsx
  apps/web/components/product-detail/ProductFooter.tsx
  apps/web/hooks/products/useCurrentPrice.ts
Due: eslint-web, prettier

chore: import 절대경로 수정
  apps/web/app/(pages)/products/[productId]/(detail)/page.tsx
  apps/web/components/product-detail/AuctionInfoLayout.tsx
  apps/web/components/product-detail/BidButton.tsx
  apps/web/components/product-detail/CurrentPrice.tsx
  apps/web/components/product-detail/LikeButton.tsx
  apps/web/components/product-detail/NextPrice.tsx
  apps/web/components/product-detail/ProductDetailHeader.tsx
  apps/web/components/product-detail/ProductFooter.tsx
  apps/web/components/product-detail/UserInfoLayout.tsx
  apps/web/components/shared/Timer.tsx
  apps/web/hooks/products/useCurrentPrice.ts
Due: eslint-web, prettier

feat: 경매 상태별 UI 추가 (#259)
  apps/web/components/product-detail/AuctionInfoLayout.tsx
  apps/web/components/product-detail/ProductFooter.tsx
Due: eslint-web, prettier

refactor: bid api 응답 및 타입에 detail_address 추가 (#252)
  apps/web/types/bid/domain.ts
  apps/web/utils/bids/mapBidHistoryResponse.ts
Due: eslint-web, prettier

refactor: product card 컴포넌트에 detail_address prop 추가 및 관련 컴포넌트 수정 (#252)
  apps/web/components/bid-history/BidHistoryCard.tsx
  apps/web/components/products/ProductCard.tsx
  apps/web/components/products/ProductList.tsx
  apps/web/components/sales/SalesProductCard.tsx
  apps/web/components/sales/SalesProductList.tsx
Due: eslint-web, prettier

chore: auth 중복 호출 확인 및 시간 측정을 위한 콘솔타임 추가 (#249)
  apps/web/lib/supabase/server/middleware.ts
  apps/web/utils/auth/server/auth-utils.ts
Due: eslint-web, prettier

feat: 입찰 내역 패칭 서버용 서비스함수 구현 (#259)
  apps/web/services/bids/client/index.ts
  apps/web/services/bids/server/getBidByProduct.ts
Due: eslint-web, prettier

feat: 경매 종료시에는 낙찰가 보여주도록 UI 수정 (#259)
  apps/web/app/(pages)/products/[productId]/(detail)/page.tsx
  apps/web/components/product-detail/AuctionInfoLayout.tsx
  apps/web/components/product-detail/CurrentPrice.tsx
  apps/web/components/product-detail/ProductFooter.tsx
Due: eslint-web, prettier
