Repository DIBTP-E2E/KFE3-dibtp: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-web, eslint-docs, eslint-ui, prettier

eslint-web:
  run: pnpm --filter=web exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-docs:
  run: pnpm --filter=docs exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-ui:
  run: pnpm --filter=ui exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

fix: storybook build 시 별칭 오류 해결 (#170)
  apps/docs/.storybook/main.ts
Due: eslint-docs, prettier

fix: 탭 컴포넌트 글자 크기 수정 (#170)
  packages/ui/src/design-system/base-components/Tabs/Tabs.stories.tsx
  packages/ui/src/design-system/base-components/Tabs/Tabs.tsx
Due: eslint-ui, prettier

fix: 뒤로가기 경로 수정 (#170)
  apps/web/components/layout/header-icon/BackButton.tsx
Due: eslint-web, prettier

design: pagecontainer 컴포넌트의 좌우 여백 수정 (#170)
  apps/web/components/layout/PageContainer.tsx
Due: eslint-web, prettier

fix: 상품 상태에서 만료 상태 제거 (#170)
  apps/web/constants/products/product-status.ts
Due: eslint-web, prettier

feat: 상품 상태로 상품 필터하는 유틸 함수 추가 (#170)
  apps/web/utils/products/filterProductsByStatus.ts
  apps/web/utils/products/index.ts
Due: eslint-web, prettier

feat: 출품 내역 조회 관련 컴포넌트 추가, 목데이터는 추후 제거 예정 (#170)
  apps/web/components/sales/SalesEmptyState.tsx
  apps/web/components/sales/SalesHistoryTabs.tsx
  apps/web/components/sales/SalesProductList.tsx
  apps/web/components/sales/index.ts
  apps/web/components/sales/mockData.ts
Due: eslint-web, prettier

feat: 출품 내역 조회 페이지 추가 (#170)
  apps/web/app/(pages)/mypage/sales/layout.tsx
  apps/web/app/(pages)/mypage/sales/page.tsx
Due: eslint-web, prettier

fix: 마이페이지 하위 페이지 추가에 따른 폴더 위치 변경 (#170)
  apps/web/app/(pages)/mypage/(mypage)/layout.tsx
  apps/web/app/(pages)/mypage/(mypage)/page.tsx
Due: eslint-web, prettier

chore: 사용하지 않는 async 제거 (#160)
  apps/web/components/layout/header/TopNavigation.tsx
Due: eslint-web, prettier

rename: 누락된 파일 명 오타 수정 (#160)
  apps/web/components/search/RecentKeywords.tsx
Due: eslint-web, prettier

fix: 필요없는 속성 값 제거 (#170)
  apps/web/app/(pages)/mypage/(mypage)/layout.tsx
Due: eslint-web, prettier

rename: userQueryServer 파일을 직관적인 파일명 prefetchUserQuery 으로 수정 (#160)
  apps/web/lib/query/server/index.ts
  apps/web/lib/query/server/prefetchUserQuery.ts
Due: eslint-web, prettier

fix: 누락된 import 수정사항 반영 (#182)
  apps/web/components/screen/SearchScreen/SearchScreen.tsx
Due: eslint-web, prettier

feat: search 디렉토리에 barrel export 파일 추가 (#182)
  apps/web/components/search/index.ts
Due: eslint-web, prettier

refactor: header 토큰 추가 (#181)
  apps/web/components/layout/header/HeaderContainer.tsx
  packages/tailwind-config/design-tokens/index.css
Due: eslint-web, prettier

comment: 더이상 사용하지 않는 주석 제거 (#181)
  apps/web/components/layout/index.ts
Due: eslint-web, prettier

feat: 검색 결과 페이지에서 input 클릭 시 동작하는 DropDown 컴포넌트와 hook 생성 (#181)
  apps/web/app/(pages)/search/page.tsx
  apps/web/components/layout/header/SearchHeader/SearchHeader.tsx
  apps/web/components/layout/header/SearchHeader/SearchInput.tsx
  apps/web/components/search/SearchDropDown.tsx
  apps/web/components/search/index.ts
  apps/web/hooks/products/index.ts
  apps/web/hooks/products/useSearchDropdown.ts
Due: eslint-web, prettier

feat: useSearchDropDown hook을 여러번 호출해도 하나의 인스턴스로 상태를 공유하도록 싱글톤 패턴 적용 (#181)
  apps/web/hooks/products/useSearchDropdown.ts
Due: eslint-web, prettier

fix: 검색결과 페이지에서 동일한 키워드의 최근검색어 클릭 시 UI의 변화가 없는 버그 수정 (#181)
  apps/web/components/layout/header/SearchHeader/SearchInput.tsx
  apps/web/components/search/RecentKeywords.tsx
  apps/web/components/search/SearchDropDown.tsx
Due: eslint-web, prettier

fix: searh header 에서 왼쪽 뒤로가기 버튼과 오른쪽 닫기 버튼의 동작을 통일 (#181)
  apps/web/components/layout/header-icon/CloseTextButton.tsx
Due: eslint-web, prettier

fix: useAppNavigation 훅 호출 이후에 나오는 hydration error 에러 해결 (#181)
  apps/web/hooks/location/useKakaoMap.ts
  apps/web/hooks/location/useMapMarker.ts
  apps/web/hooks/products/useRecentSearches.ts
Due: eslint-web, prettier

fix: chat layout의 header props를 업데이트하지 않아 생긴 컴파일 에러 해결 (#185)
  apps/web/app/(pages)/chat/layout.tsx
Due: eslint-web, prettier

fix: search screen에서 최근검색어 키워드 클릭 이벤트가 동작 하지 않는 이슈 해결 (#181)
  apps/web/components/search/RecentKeywords.tsx
Due: eslint-web, prettier

chore: 상품 가격 업데이트에 사용되는 시간 상수 코드 분리
  apps/web/components/product-detail/AuctionInfoLayout.tsx
  apps/web/components/products/ProductList.tsx
  apps/web/constants/products/product-status.ts
Due: eslint-web, prettier

feat: bottomsheet 및 actionsheet 컴포넌트 추가 (#180)
  packages/ui/src/design-system/base-components/ActionSheet/ActionSheet.stories.tsx
  packages/ui/src/design-system/base-components/ActionSheet/ActionSheet.tsx
  packages/ui/src/design-system/base-components/ActionSheet/index.ts
  packages/ui/src/design-system/base-components/BottomSheet/BottomSheet.stories.tsx
  packages/ui/src/design-system/base-components/BottomSheet/BottomSheet.tsx
  packages/ui/src/design-system/base-components/BottomSheet/hooks/index.ts
  packages/ui/src/design-system/base-components/BottomSheet/hooks/useBottomSheetGestures.ts
  packages/ui/src/design-system/base-components/BottomSheet/hooks/useBottomSheetState.ts
  packages/ui/src/design-system/base-components/BottomSheet/index.ts
  packages/ui/src/design-system/base-components/index.ts
Due: eslint-ui, prettier

feat: 바텀시트 렌더링 위치 옵션 추가 및 백드롭 블러 제거 (#180)
  apps/web/app/layout.tsx
  packages/ui/src/design-system/base-components/ActionSheet/ActionSheet.tsx
  packages/ui/src/design-system/base-components/BottomSheet/BottomSheet.tsx
Due: eslint-web, eslint-ui, prettier

fix: hoook 내 싱글 톤 패턴 제거와 최근 검색어 삭제 후 다시 나타나는 현상 해결 (#181)
  apps/web/components/layout/header/SearchHeader/SearchInput.tsx
  apps/web/components/screen/SearchScreen/SearchScreen.tsx
  apps/web/components/search/SearchDropDown.tsx
  apps/web/hooks/products/index.ts
  apps/web/hooks/products/useRecentSearches.ts
  apps/web/hooks/products/useSearchAction.ts
  apps/web/hooks/products/useSearchDropdown.ts
  apps/web/hooks/products/useSearchDropdownState.ts
Due: eslint-web, prettier

fix: 검색결과 화면에서 키워드를 키보드로 엔터 후 SearchInput 클릭 시 SearchDropDown 이 나타나지 않는 이슈 해결 (#181)
  apps/web/components/layout/header/SearchHeader/SearchInput.tsx
Due: eslint-web, prettier

feat: 검색결과 화면에서 키워드 작성 시 SearchDropDown 이 노출되도록 구현 (#181)
  apps/web/components/layout/header/SearchHeader/SearchInput.tsx
Due: eslint-web, prettier

feat: input 에서 키보드로 키워드 리스트 이동 및 순회하는 공통 useKeyboardNavigation hook 구현 및 SearchScreen에 적용 (#181)
  apps/web/components/screen/SearchScreen/SearchScreen.tsx
  apps/web/hooks/common/index.ts
  apps/web/hooks/common/useKeyboardNavigation.ts
  apps/web/hooks/index.ts
Due: eslint-web, prettier

feat: 검색결과 화면에서 DropDown 리스트 순회 hook 적용 및 useSearchInputHandlers hoook 으로 이벤트 핸들러 코드 분리 (#181)
  apps/web/components/layout/header/SearchHeader/SearchInput.tsx
  apps/web/components/search/RecentKeywords.tsx
  apps/web/components/search/SearchDropDown.tsx
  apps/web/hooks/products/index.ts
  apps/web/hooks/products/useSearchDropdownState.ts
  apps/web/hooks/products/useSearchInputHandlers.ts
Due: eslint-web, prettier

fix: useSearchInputHandlers hook이 사용되는 2곳에서 키보드 이벤트 핸들러 충돌 이슈로 이벤트 우선순위 설정 추가 (#181)
  apps/web/components/screen/SearchScreen/SearchScreen.tsx
  apps/web/hooks/common/useKeyboardNavigation.ts
Due: eslint-web, prettier

feat: docs storybook 경로 설정 충돌을 피하기 위한 web app 용 별칭 @web 추가 (#164)
  apps/docs/.storybook/main.ts
  apps/web/tsconfig.json
Due: eslint-docs, prettier

rename: 컴포넌트 ImageUpload 의 위치를 ui 디렉토리에서 product-register 로 이동 및 @web 별칭으로 import 문 적용 (#164)
  apps/web/components/product-register/ImageUpload.tsx
  apps/web/components/product-register/ProductRegisterForm.tsx
  apps/web/components/product-register/index.ts
Due: eslint-web, prettier

refactor: search 관련 hook 을 products 디렉토리에서 search 로 위치 이동 및 barrel export import 적용 (#181)
  apps/web/components/layout/header/SearchHeader/SearchInput.tsx
  apps/web/components/product-register/ProductRegisterForm.tsx
  apps/web/components/screen/SearchScreen/SearchScreen.tsx
  apps/web/components/search/RecentKeywords.tsx
  apps/web/hooks/index.ts
  apps/web/hooks/products/index.ts
  apps/web/hooks/search/index.ts
  apps/web/hooks/search/useRecentSearches.ts
  apps/web/hooks/search/useSearchAction.ts
  apps/web/hooks/search/useSearchDropdown.ts
  apps/web/hooks/search/useSearchDropdownState.ts
  apps/web/hooks/search/useSearchInputHandlers.ts
Due: eslint-web, prettier

fix: git push 액션 오류 수정 (#192)
  .github/workflows/git-push.yml
Due: none

remove: 사용하지 않게 된 파일 제거 (#192)
  build.sh
Due: none

chore: 모든 작업 브랜치에서 push 할 경우 chromatic.yml 파일 동작하도록 수정 (#163)
  .github/workflows/chromatic.yml
Due: none

feat: 수파베이스 DB 업데이트에 따른 schema.prisma 업데이트 (#189)
  apps/web/lib/prisma/schema.prisma
Due: none

Path conditions:
  eslint-web: any of: apps/web/**/*.{js,ts,jsx,tsx}
  eslint-docs: any of: apps/docs/**/*.{js,ts,jsx,tsx}
  eslint-ui: any of: packages/ui/**/*.{js,ts,jsx,tsx}
  prettier: any of: **/*.{js,ts,jsx,tsx,json,yaml,md,css}
