Repository DIBTP-E2E/KFE3-dibtp: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-web, eslint-docs, eslint-ui, prettier

eslint-web:
  run: pnpm --filter=web exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-docs:
  run: pnpm --filter=docs exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-ui:
  run: pnpm --filter=ui exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

feat: labeledtextarea 컴포넌트 및 스토리 추가 (#43)
  packages/ui/src/design-system/base-components/Textarea/LabeledTextarea.tsx
  packages/ui/src/design-system/base-components/Textarea/index.ts
  packages/ui/src/design-system/base-components/Textarea/stories/LabeledTextarea.stories.tsx
Due: eslint-ui, prettier

chore: 컴포넌트 선언 화살표함수로 수정
  apps/web/app/(auth-pages)/login/page.tsx
  apps/web/app/(auth-pages)/signup/page.tsx
  apps/web/components/login/LoginForm.tsx
  apps/web/components/signup/SignupForm.tsx
Due: eslint-web, prettier

chore: ui 패키지의 컴포넌트 export, import 설정 (#50)
  packages/ui/package.json
Due: prettier

fix: web app의 globals.css 에서 ui 패키지의 스타일이 적용되도록 추가 (#50)
  apps/web/styles/globals.css
Due: prettier

settings: prisma 설치 및 db 스키마 싱크 스크립트 추가 (#48)
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier

chore: prisma 스키마 및 현재 버전 sql 파일 추가 (#48)
  apps/web/prisma/migrations/0_init_supabase/migration.sql
  apps/web/prisma/schema.prisma
Due: none

chore: prisma로 생성된 db 모델 디렉토리 gitignore에 추가 (#48)
  apps/web/.gitignore
Due: none

chore: @repo/ui/components/* 로 import 하도록 수정 (#50)
  packages/ui/package.json
Due: prettier

feat: 로그인 후 레이아웃 추가 (#50)
  apps/web/app/(pages)/layout.tsx
Due: eslint-web, prettier

chore: web app 에서 ui 패키지의 컴포넌트를 import 하는 예제 코드 추가 (#50)
  apps/web/app/(pages)/products/page.tsx
Due: eslint-web, prettier

feat: 디자인 시스템 아이콘 컴포넌트 구현 (#26)
  packages/ui/src/design-system/base-components/Icons/Icon.tsx
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
  packages/ui/src/design-system/base-components/Icons/index.ts
Due: eslint-ui, prettier

feat: 아이콘 스토리북 구현 (#26)
  packages/ui/src/design-system/base-components/Icons/Icons.stories.tsx
Due: eslint-ui, prettier

chore: prisma 최신화 및 migration 파일 위치 수정(#48)
  apps/web/prisma/migrations/migration.sql
  apps/web/prisma/schema.prisma
Due: none

chore: prisma pull 스크립트명 수정(#48)
  apps/web/package.json
Due: prettier

chore: prisma db 스키마 최신화 (#48)
  apps/web/prisma/migrations/migration.sql
  apps/web/prisma/schema.prisma
Due: none

chore: ui 패키지 내 절대경로 설정 (#54)
  packages/ui/tsconfig.json
Due: prettier

chore: ui 패키지 내 상대경로를 절대경로로 수정 (#54)
  packages/ui/src/design-system/base-components/Avatar/Avatar.tsx
  packages/ui/src/design-system/base-components/Badge/Badge.tsx
  packages/ui/src/design-system/base-components/Input/Input.tsx
  packages/ui/src/design-system/base-components/Input/PasswordInput.tsx
  packages/ui/src/design-system/base-components/Input/components/PasswordToggle.tsx
  packages/ui/src/design-system/base-components/Label/Label.tsx
  packages/ui/src/design-system/design-token-stories/colors/PrimitiveColors.stories.tsx
  packages/ui/src/design-system/design-token-stories/colors/SemanticColors.stories.tsx
  packages/ui/src/design-system/design-token-stories/colors/UtilityColors.stories.tsx
  packages/ui/src/utils/storybook/color-token-utils.ts
Due: eslint-ui, prettier

chore: ui 패키지의 컴포넌트를 barrel export 로 사용 (#54)
  apps/web/app/(pages)/products/page.tsx
  packages/ui/package.json
  packages/ui/src/design-system/base-components/index.ts
Due: eslint-web, eslint-ui, prettier

chore: 상대경로로 import 하는 cn 유틸함수 경로를 절대경로로 수정 (#54)
  packages/ui/src/design-system/base-components/Icons/Icon.tsx
  packages/ui/src/storybook-components/Section.tsx
  packages/ui/src/storybook-components/StoryPage.tsx
Due: eslint-ui, prettier

fix: ui 패키지내에서 절대경로를 런타임에서 읽지 못하는 이슈를 위해 빌드시 상대경로로 변경해주는 라이브러리 설치 (#57)
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier

refactor: 아이콘 컴포넌트 스토리북 경로 수정 (#59)
  packages/ui/src/design-system/base-components/Icons/Icons.stories.tsx
Due: eslint-ui, prettier

chore: prisma 관련 파일 위치 이동 및 관련 스크립트 수정 (#56)
  apps/web/.gitignore
  apps/web/lib/prisma/migrations/migration.sql
  apps/web/lib/prisma/schema.prisma
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier

feat: prisma 전역 클라이언트 추가 (#56)
  apps/web/lib/prisma/client.ts
  apps/web/lib/prisma/index.ts
  turbo.json
Due: eslint-web, prettier

fix: ui 패키지 run dev 시 절대경로를 런타임에서 읽지 못하는 에러 수정 (#57)
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier

feat: ui 패키지의 버튼 컴포넌트와 스토리 생성 (#49)
  packages/ui/src/design-system/base-components/Button/Button.stories.tsx
  packages/ui/src/design-system/base-components/Button/Button.tsx
  packages/ui/src/design-system/base-components/Button/index.ts
  packages/ui/src/design-system/base-components/index.ts
Due: eslint-ui, prettier

feat: vercel 배포 cicd 설정 (#62)
  .github/workflows/git-push.yml
  build.sh
Due: none

fix: label 컴포넌트 htmlfor 타입 수정 및 textarea transition 클래스 제거 (#64)
  packages/ui/src/design-system/base-components/Label/Label.tsx
  packages/ui/src/design-system/base-components/Textarea/Textarea.tsx
Due: eslint-ui, prettier

fix: bg-neutral 컬러를 bg-base로 수정 (#66)
  apps/web/components/location/LocationDisplay.tsx
  apps/web/components/location/LocationMap.tsx
  apps/web/components/location/LocationMapContainer.tsx
  packages/tailwind-config/semantic-styles/colors-styles.css
Due: eslint-web, prettier

design: page레이아웃 스타일 수정 (#35)
  apps/web/app/(pages)/layout.tsx
Due: eslint-web, prettier

comment: 불필요한 주석 제거 (#49)
  packages/ui/src/design-system/base-components/Button/Button.stories.tsx
Due: eslint-ui, prettier

feat: ui 패키지에 썸네일 컴포넌트와 스토리 생성 (#70)
  packages/ui/src/design-system/base-components/Thumbnail/Thumbnail.stories.tsx
  packages/ui/src/design-system/base-components/Thumbnail/Thumbnail.tsx
  packages/ui/src/design-system/base-components/Thumbnail/index.ts
Due: eslint-ui, prettier

chore: ui 패키지에서 barrel export 되도록 icons, thumbnail 추가 (#70)
  packages/ui/src/design-system/base-components/index.ts
Due: eslint-ui, prettier

fix: 정의된 색상으로 썸네일 배경색 수정 (#70)
  packages/ui/src/design-system/base-components/Thumbnail/Thumbnail.tsx
Due: eslint-ui, prettier

feat: 뒤로가기 버튼 구현 (#22)
  apps/web/components/product-detail/BackButton.tsx
Due: eslint-web, prettier

feat: 좋아요 버튼 구현 (#22)
  apps/web/components/product-detail/LikeButton.tsx
Due: eslint-web, prettier

feat: 상품 상세 페이지 헤더 구현 (#22)
  apps/web/components/product-detail/ProductDetailHeader.tsx
  apps/web/components/product-detail/index.ts
Due: eslint-web, prettier

feat: 버튼 컴포넌트에 rounded 속성 추가와 color와 variant 속성 분리 및 디폴트 값 추가 (#72)
  packages/ui/src/design-system/base-components/Button/Button.stories.tsx
  packages/ui/src/design-system/base-components/Button/Button.tsx
Due: eslint-ui, prettier

chore: export/import 방식 수정
  apps/web/components/product-detail/BackButton.tsx
  apps/web/components/product-detail/LikeButton.tsx
  apps/web/components/product-detail/ProductDetailHeader.tsx
  apps/web/components/product-detail/index.ts
Due: eslint-web, prettier

refactor: react가 지원하는 ElementType 을 이용해서 코드 간소화 및 사용할 수 있는 element 타입을 확장 (#72)
  packages/ui/src/design-system/base-components/Button/Button.stories.tsx
  packages/ui/src/design-system/base-components/Button/Button.tsx
Due: eslint-ui, prettier

feat: 이미지 관련 타입 추가 (#73)
  apps/web/types/image.ts
  apps/web/types/index.ts
Due: eslint-web, prettier

Path conditions:
  eslint-web: any of: apps/web/**/*.{js,ts,jsx,tsx}
  eslint-docs: any of: apps/docs/**/*.{js,ts,jsx,tsx}
  eslint-ui: any of: packages/ui/**/*.{js,ts,jsx,tsx}
  prettier: any of: **/*.{js,ts,jsx,tsx,json,yaml,md,css}
