Repository DIBTP-E2E/KFE3-dibtp: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-web, eslint-docs, eslint-ui, prettier

eslint-web:
  run: pnpm --filter=web exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-docs:
  run: pnpm --filter=docs exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-ui:
  run: pnpm --filter=ui exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

feat: PWA Manifest 개선 - maskable icons, screenshots, shortcuts 추가 (#294)
  apps/web/app/manifest.ts
  apps/web/public/images/screenshots/chat.png
  apps/web/public/images/screenshots/home-products.png
  apps/web/public/images/screenshots/product-detail.png
Due: eslint-web, prettier

refactor: Next.js 청크를 Cache-First에 포함하도록 수정 (#292)
  apps/web/public/sw.js
Due: eslint-web, prettier

chore: 프로덕션 환경 불필요한 console.log 제거 (#292)
  apps/web/public/sw.js
Due: eslint-web, prettier

refactor: 클라이언트 알림 코드를 TODO로 변경 (#292)
  apps/web/public/sw.js
Due: eslint-web, prettier

feat: Service Worker 캐시 전략 최적화 (#292) (#297)
  apps/web/public/sw.js
Due: eslint-web, prettier

fix: pwa 관련 커스텀 훅 use client 추가하여 빌드 오류 수정(#293)
  apps/web/hooks/pwa/usePWAInstall.ts
  apps/web/hooks/pwa/usePWAStatus.ts
  apps/web/hooks/pwa/useServiceWorker.ts
Due: eslint-web, prettier

chore: 로컬테스트를 위한 ngrok 라이브러리 개발 의존성 추가(#293)
  apps/web/package.json
Due: prettier

fix: 배너 취소 횟수 NaN 가능성 대비 수정 (#293)
  apps/web/utils/pwa/pwa-storage.ts
Due: eslint-web, prettier

fix: lastDismissedAt 값이 정확하지 않을 때 예외 처리 추가(#293)
  apps/web/utils/pwa/pwa-storage.ts
Due: eslint-web, prettier

fix: ngrok 버전을 npm 레지스트리 호환 버전으로 수정 (#293)
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier

fix: iPad iOS 13+ 감지 개선 및 브라우저 감지 리팩토링 (#293)
  apps/web/utils/common/platform-detection.ts
  apps/web/utils/pwa/install-detection.ts
Due: eslint-web, prettier

refactor: import 문 @web으로 수정(#293)
  apps/web/components/pwa/PWAInstallManager.tsx
  apps/web/hooks/pwa/usePWAInstall.ts
  apps/web/hooks/pwa/usePWAStatus.ts
  apps/web/hooks/pwa/useServiceWorker.ts
Due: eslint-web, prettier

fix: service worker가 supabase auth api를 차단하는 문제 수정 (#303)
  apps/web/public/sw.js
Due: eslint-web, prettier

fix: service worker가 supabase auth api를 차단하는 문제 수정 (#303) (#304)
  apps/web/public/sw.js
Due: eslint-web, prettier

chore: bump version to v1.29.0
  CHANGELOG.md
  package.json
Due: none

feat: PWA 설치 프롬프트 개선 (#293) (#298)
  apps/web/app/layout.tsx
  apps/web/components/pwa/IOSInstallBanner.tsx
  apps/web/components/pwa/InstallBanner.tsx
  apps/web/components/pwa/PWAInstallManager.tsx
  apps/web/components/pwa/index.ts
  apps/web/components/shared/PWAManager.tsx
  apps/web/components/shared/index.ts
  apps/web/constants/index.ts
  apps/web/constants/pwa.ts
  apps/web/hooks/index.ts
  apps/web/hooks/pwa/index.ts
  apps/web/hooks/pwa/usePWAInstall.ts
  apps/web/hooks/pwa/usePWAStatus.ts
  apps/web/hooks/pwa/useServiceWorker.ts
  apps/web/package.json
  apps/web/types/index.ts
  apps/web/types/pwa/index.ts
  apps/web/types/pwa/install-prompt.ts
  apps/web/utils/common/index.ts
  apps/web/utils/common/platform-detection.ts
  apps/web/utils/pwa/index.ts
  apps/web/utils/pwa/install-detection.ts
  apps/web/utils/pwa/pwa-storage.ts
  pnpm-lock.yaml
Due: eslint-web, prettier

chore: bump version to v1.30.0
  CHANGELOG.md
  package.json
Due: none

remove: 필요없는 스크린샷 이미지 제거 (#294)
  apps/web/public/images/screenshots/chat.png
  apps/web/public/images/screenshots/home-products.png
  apps/web/public/images/screenshots/product-detail.png
Due: none

chore: 아이콘 이미지 고품질로 변경 (#294)
  apps/web/app/apple-icon.png
  apps/web/public/images/android-chrome-192x192.png
  apps/web/public/images/android-chrome-512x512.png
Due: none

chore: viewport 기본 테마 색상 수정 (#294)
  apps/web/app/layout.tsx
Due: eslint-web, prettier

fix: 과한 설정값 제거 및 관련 주석 추가 (#294)
  apps/web/app/manifest.ts
Due: eslint-web, prettier

feat: pwa sw 업데이트 알림 구현 (upstream 반영 대기 중)
  apps/web/hooks/pwa/useServiceWorker.ts
  apps/web/public/sw.js
Due: eslint-web, prettier

chore: 필요없는 주석 및 로깅 제거 (#300)
  apps/web/hooks/pwa/useServiceWorker.ts
  apps/web/public/sw.js
Due: eslint-web, prettier

hotfix: react rsc 보안 취약점 해결을 위한 버전 업데이트 (#307)
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier

fix: 빌드에러 제거 - export default 대신 명시적으로 타입 지정 (#307)
  apps/web/next.config.ts
Due: prettier

fix: eslint 파싱 에러 해결 (#307)
  packages/eslint-config/next.js
Due: prettier

fix: 빌드에러 제거 - storybook 빌드 시 sentry, bundle analyzer 생략 (#307)
  apps/web/next.config.ts
Due: prettier

chore: storybook 버전 업데이트 (#307)
  apps/docs/package.json
  apps/web/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier

feat: Manifest 개선 (#294) (#299)
  apps/web/app/apple-icon.png
  apps/web/app/layout.tsx
  apps/web/app/manifest.ts
  apps/web/public/images/android-chrome-192x192.png
  apps/web/public/images/android-chrome-512x512.png
Due: eslint-web, prettier

chore: bump version to v1.31.0
  CHANGELOG.md
  package.json
Due: none

feat: PWA Service Worker 업데이트 알림 구현 (#300) (#306)
  apps/web/hooks/pwa/useServiceWorker.ts
  apps/web/public/sw.js
Due: eslint-web, prettier

chore: bump version to v1.32.0
  CHANGELOG.md
  package.json
Due: none

feat: 푸시 알림 데이터베이스 스키마 및 web-push 의존성 추가 (#296)
  apps/web/lib/prisma/schema.prisma
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier

feat: 푸시 알림 타입 정의 추가 (#296)
  apps/web/types/index.ts
  apps/web/types/notifications/index.ts
  apps/web/types/notifications/notification.ts
  apps/web/types/notifications/push-subscription.ts
Due: eslint-web, prettier

feat: 푸시 알림 상수 및 쿼리 키 추가 (#296)
  apps/web/constants/index.ts
  apps/web/constants/push-subscription.ts
  apps/web/constants/query-key.ts
Due: eslint-web, prettier

feat: vapid 키 검증 및 web-push 클라이언트 lazy initialization 구현 (#296)
  apps/web/lib/push/config.ts
  apps/web/lib/push/index.ts
  apps/web/lib/push/web-push-client.ts
Due: eslint-web, prettier

feat: 푸시 알림 서버 서비스 레이어 구현 (#296)
  apps/web/services/notifications/server/deleteSubscription.ts
  apps/web/services/notifications/server/index.ts
  apps/web/services/notifications/server/saveSubscription.ts
  apps/web/services/notifications/server/sendPushNotification.ts
Due: eslint-web, prettier

feat: 푸시 알림 api 라우트 구현 (#296)
  apps/web/app/api/push/status/route.ts
  apps/web/app/api/push/subscribe/route.ts
  apps/web/app/api/push/test/route.ts
  apps/web/app/api/push/unsubscribe/route.ts
Due: eslint-web, prettier

chore: turbo.json에 vapid 환경 변수 추가 (#296)
  turbo.json
Due: none

feat: service worker에 푸시 알림 이벤트 리스너 추가 및 리팩토링 (#296)
  apps/web/public/sw.js
Due: eslint-web, prettier

Path conditions:
  eslint-web: any of: apps/web/**/*.{js,ts,jsx,tsx}
  eslint-docs: any of: apps/docs/**/*.{js,ts,jsx,tsx}
  eslint-ui: any of: packages/ui/**/*.{js,ts,jsx,tsx}
  prettier: any of: **/*.{js,ts,jsx,tsx,json,yaml,md,css}
