Repository DIBTP-E2E/KFE3-dibtp: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-web, eslint-docs, eslint-ui, prettier

eslint-web:
  run: pnpm --filter=web exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-docs:
  run: pnpm --filter=docs exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-ui:
  run: pnpm --filter=ui exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

feat: 네비게이션에 마이페이지 추가 (#151)
  apps/web/constants/navigation.ts
Due: eslint-web, prettier

feat: middleware에 마이페이지 보호 경로로 추가 (#151)
  apps/web/lib/supabase/middleware.ts
Due: eslint-web, prettier

feat: 마이페이지 관련 컴포넌트 및 페이지, 레이아웃 추가 (#151)
  apps/web/app/(pages)/mypage/layout.tsx
  apps/web/app/(pages)/mypage/page.tsx
  apps/web/components/mypage/ActivityCard.tsx
  apps/web/components/mypage/ActivityStats.tsx
  apps/web/components/mypage/LogoutButton.tsx
  apps/web/components/mypage/MypageHeader.tsx
  apps/web/components/mypage/MypageMenuItem.tsx
  apps/web/components/mypage/MypageSectionCard.tsx
  apps/web/components/mypage/SettingsMenu.tsx
  apps/web/components/mypage/TradingMenu.tsx
  apps/web/components/mypage/index.ts
Due: eslint-web, prettier

fix: text-info, text-base, bg-base 토큰 값 수정 (#123)
  packages/tailwind-config/design-tokens/color-tokens/primitive-colors.css
  packages/tailwind-config/design-tokens/color-tokens/semantic-colors.css
  packages/tailwind-config/design-tokens/color-tokens/utility-colors.css
  packages/ui/scripts/generate-tokens.ts
  packages/ui/src/design-system/design-token-stories/colors/generated-tokens.ts
Due: eslint-ui, prettier

fix: manifest.json 파일 미들웨어 검증 예외처리 (#153)
  apps/web/middleware.ts
Due: prettier

refactor: auth util import 경로 수정 (#153)
  apps/web/app/api/images/route.ts
Due: eslint-web, prettier

fix: 인증된 유저 정보 중 이메일 정보 추가 (#153)
  apps/web/utils/auth/auth-utils.ts
Due: eslint-web, prettier

fix: pc 화면에서 search screen을 오픈하지 않아도 레이아웃의 오른쪽에서 보이는 현상 제거 - header의 fixed 제거 (#123)
  apps/web/app/layout.tsx
  apps/web/components/layout/header/HeaderContainer.tsx
Due: eslint-web, prettier

fix: header의 fixed 제거하면서 관련된 레이아웃 css 스타일 수정 및 리팩토링 (#123)
  apps/web/app/(home)/layout.tsx
  apps/web/components/layout/BottomNavigation.tsx
  apps/web/components/layout/PageContainer.tsx
  apps/web/components/layout/header/TopNavigation.tsx
  apps/web/components/screen/SearchScreen.tsx
  apps/web/styles/globals.css
Due: eslint-web, prettier

fix: 스토리북 빌드 에러 및 타입 에러 수정 (#123)
  apps/docs/.storybook/main.ts
  apps/web/.storybook/preview.ts
  apps/web/tsconfig.json
  packages/ui/src/design-system/base-components/Icons/Icons.stories.tsx
  packages/ui/src/utils/storybook/color-token-utils.ts
Due: eslint-web, eslint-docs, eslint-ui, prettier

feat: icon button 스토리 생성 (#123)
  apps/web/components/shared/IconButton.stories.tsx
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
Due: eslint-web, eslint-ui, prettier

refactor: 경로 관련 상수 추가 (#155)
  apps/web/constants/api-endpoints.ts
  apps/web/constants/routes/api.ts
  apps/web/constants/routes/index.ts
  apps/web/constants/routes/pages.ts
Due: eslint-web, prettier

refactor: 상품 관련 상수 폴더 생성 및 파일 정리 (#155)
  apps/web/constants/index.ts
  apps/web/constants/products/index.ts
  apps/web/constants/products/product-images.ts
  apps/web/constants/products/product-status.ts
Due: eslint-web, prettier

refactor: 경로 상수 이용하여 하드코딩 문자열 제거 (#155)
  apps/web/constants/navigation.ts
Due: eslint-web, prettier

chore: isTransparnt 오타 수정 - isTransparent (#123)
  apps/web/components/shared/IconButton.tsx
  packages/ui/src/design-system/base-components/Button/Button.tsx
Due: eslint-web, eslint-ui, prettier

fix: iconname 타입을 interface에서 직접 사용하도록 수정 (#151)
  apps/web/components/mypage/ActivityCard.tsx
  apps/web/components/mypage/MypageMenuItem.tsx
Due: eslint-web, prettier

feat: api route에서 서비스 함수 이용하도록 수정
  apps/web/app/api/bids/route.ts
  apps/web/services/bids/createBid.ts
  apps/web/services/products/updateProductState.ts
Due: eslint-web, prettier

feat: 입찰 확인 모달 추가 (#129)
  apps/web/components/product-detail/BidButton.tsx
Due: eslint-web, prettier

refactor: 경로 상수로 하드코딩 경로 대체 (#155)
  apps/web/app/sitemap.ts
  apps/web/components/login/SignupLink.tsx
  apps/web/components/products/ProductCard.tsx
  apps/web/components/signup/LoginLink.tsx
  apps/web/lib/supabase/middleware.ts
  apps/web/services/images/client/deleteImages.ts
  apps/web/services/images/client/uploadImages.ts
  apps/web/services/products/createProduct.ts
Due: eslint-web, prettier

refactor: router 관련 함수 커스텀훅 생성 및 사용된 곳 모두 수정 (#155)
  apps/web/components/layout/TopNavigation.tsx
  apps/web/components/location/SaveLocationButton.tsx
  apps/web/components/login/LoginForm.tsx
  apps/web/components/mypage/LogoutButton.tsx
  apps/web/components/product-detail/BackButton.tsx
  apps/web/components/signup/SignupForm.tsx
  apps/web/hooks/index.ts
  apps/web/hooks/products/useProductForm.ts
  apps/web/hooks/useAppNavigation.ts
Due: eslint-web, prettier

fix: 상품 리스트 페이지 제거 (#155)
  apps/web/constants/routes/pages.ts
  apps/web/lib/supabase/middleware.ts
Due: eslint-web, prettier

chore: 파일 마지막 공백 추가
  apps/web/services/bids/index.ts
Due: eslint-web, prettier

chore: 프리즈마 타입 지정 명확하게 변경
  apps/web/services/bids/createBid.ts
  apps/web/services/products/updateProductState.ts
Due: eslint-web, prettier

feat: 기존 전체 상품 내역 조회 서비스 함수와 검색 용 서비스 함수 통합 (#143)
  apps/web/app/(home)/page.tsx
  apps/web/app/(pages)/search/page.tsx
  apps/web/components/products/ProductList.tsx
  apps/web/components/products/ProductListWithSuspense.tsx
  apps/web/services/products/fetchProducts.ts
  apps/web/services/products/index.ts
  apps/web/services/products/searchProductsWithPrisma.ts
Due: eslint-web, prettier

rename: icon button 컴포넌트를 web app 에서 ui 패키지로 이동 (#123)
  apps/web/components/layout/header-icon/HeaderIconButton.tsx
  apps/web/components/shared/index.ts
  packages/ui/src/design-system/base-components/IconButton/IconButton.stories.tsx
  packages/ui/src/design-system/base-components/IconButton/IconButton.tsx
  packages/ui/src/design-system/base-components/IconButton/index.ts
  packages/ui/src/design-system/base-components/index.ts
Due: eslint-web, eslint-ui, prettier

chore: 사용하지 않는 Button 인터페이스 속성 isTransparent 제거 (#123)
  packages/ui/src/design-system/base-components/Button/Button.tsx
Due: eslint-ui, prettier

fix: 네비게이션 훅 함수들 정돈 (#155)
  apps/web/hooks/useAppNavigation.ts
Due: eslint-web, prettier

fix: icon button 컴포넌트 내 import 문에서 외부에서 사용하는 ui 패키지 절대경로를 내부 별칭으로 수정 (#161)
  packages/ui/src/design-system/base-components/IconButton/IconButton.tsx
Due: eslint-ui, prettier

fix: button 컴포넌트의 isTransparent 속성을 사용하는 컴포넌트 확인 후 isTransparent 속성 다시 추가 (#161)
  apps/web/components/layout/header-icon/CloseTextButton.tsx
  packages/ui/src/design-system/base-components/Button/Button.tsx
Due: eslint-web, eslint-ui, prettier

feat: button 컴포넌트의 스토리에 isTransparent 속성 값 예시 추가 (#161)
  packages/ui/src/design-system/base-components/Button/Button.stories.tsx
Due: eslint-ui, prettier

refactor: 마이페이지와 레이아웃 컴포넌트에 route 상수 적용 (#155)
  apps/web/components/layout/header-icon/BackButton.tsx
  apps/web/components/mypage/MypageHeader.tsx
  apps/web/components/mypage/SettingsMenu.tsx
  apps/web/components/mypage/TradingMenu.tsx
  apps/web/components/product-detail/BidButton.tsx
  apps/web/constants/navigation.ts
  apps/web/constants/routes/api.ts
Due: eslint-web, prettier

fix: ui 패키지 내 절대경로 별칭을 '@' 에서 '@ui' 로 수정 및 @ui/components 경로 별칭 추가 (#161)
  apps/docs/.storybook/main.ts
  packages/ui/tsconfig.json
Due: eslint-docs, prettier

fix: ui 패키지 내부 별칭 변경으로 인한 컴포넌트, 스토리 내 import 문 수정 (#161)
  apps/web/components/layout/header-icon/HeaderIconButton.tsx
  packages/ui/src/design-system/base-components/Avatar/Avatar.tsx
  packages/ui/src/design-system/base-components/Badge/Badge.tsx
  packages/ui/src/design-system/base-components/Button/Button.tsx
  packages/ui/src/design-system/base-components/Button/index.ts
  packages/ui/src/design-system/base-components/IconButton/IconButton.stories.tsx
  packages/ui/src/design-system/base-components/IconButton/IconButton.tsx
  packages/ui/src/design-system/base-components/IconButton/index.ts
  packages/ui/src/design-system/base-components/Icons/Icon.tsx
  packages/ui/src/design-system/base-components/Icons/index.ts
  packages/ui/src/design-system/base-components/Input/Input.tsx
  packages/ui/src/design-system/base-components/Input/PasswordInput.tsx
  packages/ui/src/design-system/base-components/Input/components/PasswordToggle.tsx
  packages/ui/src/design-system/base-components/Label/Label.stories.tsx
  packages/ui/src/design-system/base-components/Label/Label.tsx
  packages/ui/src/design-system/base-components/Label/index.ts
  packages/ui/src/design-system/base-components/Thumbnail/Thumbnail.tsx
  packages/ui/src/design-system/base-components/Thumbnail/index.ts
Due: eslint-web, eslint-ui, prettier

fix: location util export 수정 (#159)
  apps/web/utils/location/index.ts
  apps/web/utils/location/validate-location.ts
Due: eslint-web, prettier

fix: auth util export 수정 (#159)
  apps/web/utils/auth/index.ts
  apps/web/utils/auth/server/auth-utils.ts
  apps/web/utils/auth/server/index.ts
  apps/web/utils/index.ts
Due: eslint-web, prettier

rename: prisma 클라이언트 파일 이름 수정 (#159)
  apps/web/lib/prisma/index.ts
  apps/web/lib/prisma/prisma-client.ts
Due: eslint-web, prettier

refactor: 스토리지 lib server 디렉토리로 이동 (#159)
  apps/web/lib/storage/server/index.ts
  apps/web/lib/storage/server/storage.ts
Due: eslint-web, prettier

refactor: supabase lib 파일 디렉토리 client, server 구분 (#159)
  apps/web/lib/supabase/client/client.ts
  apps/web/lib/supabase/client/index.ts
  apps/web/lib/supabase/index.ts
  apps/web/lib/supabase/server/index.ts
  apps/web/lib/supabase/server/middleware.ts
  apps/web/lib/supabase/server/server.ts
Due: eslint-web, prettier

refactor: service client, server export 개선 (#159)
  apps/web/services/bids/server/createBid.ts
  apps/web/services/bids/server/index.ts
  apps/web/services/chat/server/fetchChatList.ts
  apps/web/services/chat/server/index.ts
  apps/web/services/images/client/index.ts
  apps/web/services/images/index.ts
  apps/web/services/images/server/deleteFromStorage.ts
  apps/web/services/images/server/index.ts
  apps/web/services/images/server/uploadToStorage.ts
  apps/web/services/index.ts
  apps/web/services/location/index.ts
  apps/web/services/location/server/index.ts
  apps/web/services/location/server/updateUserLocation.ts
  apps/web/services/login/server/index.ts
  apps/web/services/login/server/setServerSession.ts
  apps/web/services/products/client/createProduct.ts
  apps/web/services/products/client/index.ts
  apps/web/services/products/mappers.ts
  apps/web/services/products/server/fetchProductDetail.ts
  apps/web/services/products/server/fetchProducts.ts
  apps/web/services/products/server/index.ts
  apps/web/services/products/server/updateProductState.ts
  apps/web/services/signup/server/createUserAccount.ts
  apps/web/services/signup/server/index.ts
Due: eslint-web, prettier

rename: product mapper 함수 이름 및 위치 변경 (#159)
  apps/web/utils/index.ts
  apps/web/utils/products/index.ts
  apps/web/utils/products/product-mappers.ts
Due: eslint-web, prettier

Path conditions:
  eslint-web: any of: apps/web/**/*.{js,ts,jsx,tsx}
  eslint-docs: any of: apps/docs/**/*.{js,ts,jsx,tsx}
  eslint-ui: any of: packages/ui/**/*.{js,ts,jsx,tsx}
  prettier: any of: **/*.{js,ts,jsx,tsx,json,yaml,md,css}
