Repository DIBTP-E2E/KFE3-dibtp: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-web, eslint-docs, eslint-ui, prettier

eslint-web:
  run: pnpm --filter=web exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-docs:
  run: pnpm --filter=docs exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-ui:
  run: pnpm --filter=ui exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

feat: daum 주소 검색 기능 추가에 따른 훅, 타입 추가 (#232)
  apps/web/hooks/location/useDaumPostcode.ts
  apps/web/types/location/postcode.ts
Due: eslint-web, prettier

refactor: 주소 관련 타입 및 유틸 리팩토링 (#232)
  apps/web/hooks/location/index.ts
  apps/web/hooks/location/useKakaoGeocoder.ts
  apps/web/types/location/domain.ts
  apps/web/types/location/index.ts
  apps/web/utils/location/address-utils.ts
Due: eslint-web, prettier

feat: 위치 설정 시 주소 검색 기능 추가 (#232)
  apps/web/components/location/AddressSearchButton.tsx
  apps/web/components/location/LocationHeader.tsx
  apps/web/components/location/LocationMap.tsx
  apps/web/components/location/LocationMapContainer.tsx
  apps/web/components/location/index.ts
Due: eslint-web, prettier

feat: 현재 위치로 설정 가능한 기능 추가 (#232)
  apps/web/components/location/CurrentLocationButton.tsx
  apps/web/components/location/LocationMap.tsx
  apps/web/components/location/LocationMapContainer.tsx
  apps/web/components/location/index.ts
  apps/web/hooks/location/index.ts
  apps/web/hooks/location/useGeolocation.ts
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
Due: eslint-web, eslint-ui, prettier

refactor: 이미지 관련 함수들 재사용 가능하도록 리팩토링 (#207)
  apps/web/constants/image-config.ts
  apps/web/constants/storage-bucket.ts
  apps/web/hooks/image/useImageManager.ts
  apps/web/lib/storage/server/storage.ts
  apps/web/services/images/client/deleteImages.ts
  apps/web/services/images/client/uploadImages.ts
  apps/web/types/image/config.ts
  apps/web/utils/image/image-utils.ts
Due: eslint-web, prettier

refactor: 외부 라이브러리 스크립트 로더 유틸 추가 및 수정 (#232)
  apps/web/hooks/location/useDaumPostcode.ts
  apps/web/hooks/location/useKakaoMap.ts
  apps/web/utils/common/external-script-loader.ts
  apps/web/utils/common/index.ts
Due: eslint-web, prettier

refactor: 에러 로그 및 메모이제이션 보완 (#232)
  apps/web/components/location/LocationMap.tsx
  apps/web/components/location/LocationMapContainer.tsx
  apps/web/hooks/location/useMapMarker.ts
Due: eslint-web, prettier

refactor: 위치 선택 기능 공통 컴포넌트로 분리 (#232)
  apps/web/components/location/AddressSearchButton.tsx
  apps/web/components/location/LocationMapContainer.tsx
  apps/web/components/location/LocationSelector.tsx
  apps/web/components/location/index.ts
Due: eslint-web, prettier

fix: 위치 관련 훅 오류 수정 (#232)
  apps/web/hooks/location/useGeolocation.ts
  apps/web/hooks/location/useKakaoGeocoder.ts
Due: eslint-web, prettier

refactor: 상품 폼에서 위치 선택 컴포넌트 재사용 (#232)
  apps/web/components/product-form/LocationInfoField.tsx
Due: eslint-web, prettier

feat: 프로필 업데이트 서비스 함수 구현 (#207)
  apps/web/app/api/my-info/route.ts
  apps/web/services/my-info/client/updateProfile.ts
  apps/web/services/my-info/server/updateProfile.ts
Due: eslint-web, prettier

feat: 회원정보 수정 로직 추가 및 프로필 이미지 삭제 UI 추가 (#207)
  apps/web/app/(pages)/mypage/profile/page.tsx
  apps/web/components/mypage-profile/ProfileImageForm.tsx
Due: eslint-web, prettier

feat: 토스트 메시지를 위한 sonner 라이브러리 추가 (#226)
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier

feat: 버튼과 아이콘 버튼에 success 색상과 cursor pointer 추가, 관련 스토리 업데이트 (#226)
  packages/ui/src/design-system/base-components/Button/Button.stories.tsx
  packages/ui/src/design-system/base-components/Button/Button.tsx
  packages/ui/src/design-system/base-components/IconButton/IconButton.stories.tsx
  packages/ui/src/design-system/base-components/IconButton/IconButton.tsx
Due: eslint-ui, prettier

feat: 토스트 메시지 컴포넌트와 스토리 생성 (#226)
  packages/ui/src/design-system/base-components/Toast/Toast.stories.tsx
  packages/ui/src/design-system/base-components/Toast/Toast.tsx
  packages/ui/src/design-system/base-components/Toast/index.ts
  packages/ui/src/design-system/base-components/Toast/utils/toast.tsx
  packages/ui/src/design-system/base-components/index.ts
Due: eslint-ui, prettier

chore: 경로 별칭 수정, 시맨트 태그 수정, 프로필 이미지 변경 UI 수정
  apps/web/app/(pages)/mypage/profile/page.tsx
  apps/web/app/api/my-info/route.ts
  apps/web/components/mypage-profile/ProfileImageForm.tsx
  apps/web/components/mypage/ProfileBanner.tsx
  apps/web/lib/storage/server/storage.ts
  apps/web/services/images/client/deleteImages.ts
  apps/web/services/my-info/client/updateProfile.ts
  apps/web/services/my-info/server/updateProfile.ts
Due: eslint-web, prettier

chore: 텍스트 컬러 토큰값으로 변경
  apps/web/components/login/SignupInfo.tsx
  apps/web/components/mypage-profile/ProfileImageForm.tsx
  apps/web/components/product-detail/AuctionInfoLayout.tsx
  apps/web/components/product-detail/AuctionSummary.tsx
  apps/web/components/product-detail/ProductFooter.tsx
  apps/web/components/product-detail/ProductImageCarousel.tsx
  apps/web/components/signup/LoginInfo.tsx
Due: eslint-web, prettier

chore: 스타일 토큰 수정 및 웹 접근성 관련 속성 추가
  apps/web/components/mypage-profile/ProfileImageForm.tsx
Due: eslint-web, prettier

chore: bump version to v1.25.0
  package.json
Due: none

[feat] 프로필 정보 수정 #207 (#245)
  apps/web/app/(pages)/mypage/(mypage)/page.tsx
  apps/web/app/(pages)/mypage/profile/layout.tsx
  apps/web/app/(pages)/mypage/profile/page.tsx
  apps/web/app/api/my-info/route.ts
  apps/web/components/login/SignupInfo.tsx
  apps/web/components/mypage-profile/ProfileImageForm.tsx
  apps/web/components/mypage-profile/ProfileNicknameForm.tsx
  apps/web/components/mypage-profile/ProfileUpdateButton.tsx
  apps/web/components/mypage-profile/index.ts
  apps/web/components/mypage/MypageHeader.tsx
  apps/web/components/mypage/ProfileBanner.tsx
  apps/web/components/mypage/index.ts
  apps/web/components/product-detail/AuctionInfoLayout.tsx
  apps/web/components/product-detail/AuctionSummary.tsx
  apps/web/components/product-detail/ProductFooter.tsx
  apps/web/components/product-detail/ProductImageCarousel.tsx
  apps/web/components/signup/LoginInfo.tsx
  apps/web/constants/image-config.ts
  apps/web/constants/storage-bucket.ts
  apps/web/hooks/image/useImageManager.ts
  apps/web/lib/storage/server/storage.ts
  apps/web/services/images/client/deleteImages.ts
  apps/web/services/images/client/uploadImages.ts
  apps/web/services/my-info/client/updateProfile.ts
  apps/web/services/my-info/server/updateProfile.ts
  apps/web/types/image/config.ts
  apps/web/utils/image/image-utils.ts
  packages/ui/src/design-system/base-components/Avatar/Avatar.stories.tsx
  packages/ui/src/design-system/base-components/Avatar/Avatar.tsx
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
Due: eslint-web, eslint-ui, prettier

feat: warning 아이콘 추가 및 토스트 메시지 스타일 업데이트 (#226)
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
  packages/ui/src/design-system/base-components/Toast/Toast.tsx
Due: eslint-ui, prettier

feat: toast provider를 web app의 layout에 적용 (#226)
  apps/web/app/layout.tsx
Due: eslint-web, prettier

feat: 채팅하기 버튼에 토스트 메시지를 적용하여 에러 핸들링 (#226)
  apps/web/components/product-detail/ChatButton.tsx
Due: eslint-web, prettier

feat: error 색상 토큰 재정의 (#226)
  packages/tailwind-config/design-tokens/color-tokens/primitive-colors.css
  packages/tailwind-config/design-tokens/color-tokens/semantic-colors.css
  packages/tailwind-config/design-tokens/color-tokens/utility-colors.css
  packages/ui/src/design-system/design-token-stories/colors/generated-tokens.ts
Due: eslint-ui, prettier

feat: 버튼 컴포넌트와 아이콘버튼 컴포넌트의 error 색상 추가 (#226)
  packages/ui/src/design-system/base-components/Button/Button.stories.tsx
  packages/ui/src/design-system/base-components/Button/Button.tsx
  packages/ui/src/design-system/base-components/IconButton/IconButton.stories.tsx
  packages/ui/src/design-system/base-components/IconButton/IconButton.tsx
Due: eslint-ui, prettier

fix: 토스트 메시지의 error, warning 상태 스타일 수정 (#226)
  packages/ui/src/design-system/base-components/Toast/Toast.tsx
Due: eslint-ui, prettier

feat: 토스트 메시지의 컴포넌트 UI를 바로 확인할 수 있도록 스토리 추가 (#226)
  packages/ui/src/design-system/base-components/Toast/Toast.stories.tsx
Due: eslint-ui, prettier

feat: 에러 아이콘 추가 및 토스트 메시지 적용 (#226)
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
  packages/ui/src/design-system/base-components/Toast/Toast.tsx
Due: eslint-ui, prettier

chore: 토스트 메시지의 스토리에서 컴포넌트만 보여줄 경우 보기 닫기 버튼 동작되도록 수정 (#226)
  packages/ui/src/design-system/base-components/Toast/Toast.stories.tsx
Due: eslint-ui, prettier

feat: ui 패키지의 utils 디렉토리의 barrel export 설정 (#226)
  apps/web/components/product-detail/ChatButton.tsx
  packages/ui/package.json
  packages/ui/src/utils/index.ts
Due: eslint-web, eslint-ui, prettier

fix: 채팅하기 버튼의 채팅 없음에 대한 토스트 메시지 상태를 warning에서 info로 수정 (#226)
  apps/web/components/product-detail/ChatButton.tsx
Due: eslint-web, prettier

fix: 상품 등록, 입찰, 찜하기 응답 처리를 토스트 메시지로 개선 (#226)
  apps/web/components/product-detail/BidButton.tsx
  apps/web/components/product-detail/LikeButton.tsx
  apps/web/hooks/products/useProductForm.ts
Due: eslint-web, prettier

fix: 프로필 편집과 로그아웃 토스트메시지로 에러 핸들링 (#226)
  apps/web/app/(pages)/mypage/profile/page.tsx
  apps/web/components/mypage/LogoutButton.tsx
Due: eslint-web, prettier

fix: 로그아웃 버튼에서 토스트 알림 시 오류 메시지의 줄바꿈 적용 (#226)
  apps/web/components/mypage/LogoutButton.tsx
Due: eslint-web, prettier

chore: 오타 수정 (#232)
  apps/web/components/location/LocationDisplay.tsx
Due: eslint-web, prettier

fix: 도로명 주소 없을 때 null 값으로 반환하도록 수정 (#232)
  apps/web/types/location/domain.ts
  apps/web/utils/location/address-utils.ts
Due: eslint-web, prettier

chore: 다음 주소 검색 타입 주석 수정 (#232)
  apps/web/types/location/postcode.ts
Due: eslint-web, prettier

fix: title 속성 aria-label로 수정 및 스크린리더용 텍스트 추가 (#232)
  apps/web/components/location/CurrentLocationButton.tsx
Due: eslint-web, prettier

refactor: ready 상태 제거 및 기본 상태를 active로 변경 (#251)
  apps/web/constants/products/product-status.ts
  apps/web/lib/prisma/schema.prisma
Due: eslint-web, prettier

refactor: cancel 상태 표시 텍스트를 경매 중지로 변경 (#251)
  apps/web/components/sales/SalesEmptyState.tsx
  apps/web/components/sales/SalesHistoryTabs.tsx
  apps/web/components/shared/ProductBadge.tsx
  apps/web/hooks/products/useProductActionMenu.ts
Due: eslint-web, prettier

Path conditions:
  eslint-web: any of: apps/web/**/*.{js,ts,jsx,tsx}
  eslint-docs: any of: apps/docs/**/*.{js,ts,jsx,tsx}
  eslint-ui: any of: packages/ui/**/*.{js,ts,jsx,tsx}
  prettier: any of: **/*.{js,ts,jsx,tsx,json,yaml,md,css}
