Repository DIBTP-E2E/KFE3-dibtp: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-web, eslint-docs, eslint-ui, prettier

eslint-web:
  run: pnpm --filter=web exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-docs:
  run: pnpm --filter=docs exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-ui:
  run: pnpm --filter=ui exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

fix: chromatic.yml 파일에서 turbo 명령어 사용 시 ui 패키지 호출명 오탈자 수정 (#139)
  .github/workflows/chromatic.yml
Due: none

feat: 상품 검색 서비스 함수 생성 (#143)
  apps/web/services/products/index.ts
  apps/web/services/products/searchProductsWithPrisma.ts
Due: eslint-web, prettier

refactor: product list 컴포넌트와 비즈니스 로직 분리 - 페이지에서 fetch (#143)
  apps/web/app/(home)/page.tsx
  apps/web/components/products/ProductList.tsx
  apps/web/components/products/ProductListWithSuspense.tsx
Due: eslint-web, prettier

feat: keywork 쿼리스트링을 받는 검색결과 페이지 생성 (#143)
  apps/web/app/(pages)/search/page.tsx
Due: eslint-web, prettier

feat: 검색결과 페이지의 title, description, opengraph 등 meta 정보 추가 (#143)
  apps/web/app/(pages)/search/page.tsx
Due: eslint-web, prettier

refactor: 검색결과 페이지의 params interface 정의 (#143)
  apps/web/app/(pages)/search/page.tsx
Due: eslint-web, prettier

feat: header에서 사용하는 알람, 뒤로가기, 검색 버튼 컴포넌트 생성 (#123)
  apps/web/components/layout/AlarmButton.tsx
  apps/web/components/layout/BackButton.tsx
  apps/web/components/layout/SearchButton.tsx
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
Due: eslint-web, eslint-ui, prettier

feat: header 용 지역 상태 표기 라벨 컴포넌트 생성 (#123)
  apps/web/components/layout/RegionLabel.tsx
Due: eslint-web, prettier

feat: header 인 TopNavigation 컴포넌트에 icon 버튼 추가 (#123)
  apps/web/app/(home)/layout.tsx
  apps/web/app/(pages)/products/register/layout.tsx
  apps/web/components/layout/TopNavigation.tsx
Due: eslint-web, prettier

refactor: header 관련 버튼과 UI를 TopNavigation 컴포넌트 기준으로 그룹화 (#123)
  apps/web/components/layout/TopNavigation/AlarmButton.tsx
  apps/web/components/layout/TopNavigation/BackButton.tsx
  apps/web/components/layout/TopNavigation/RegionLabel.tsx
  apps/web/components/layout/TopNavigation/SearchButton.tsx
  apps/web/components/layout/TopNavigation/TopNavigation.tsx
  apps/web/components/layout/TopNavigation/index.ts
  apps/web/components/layout/index.ts
Due: eslint-web, prettier

refactor: shared 용도인 IconButton 컴포넌트를 생성하여 스타일 클래스 중복 제거 및 리팩토링 (#123)
  apps/web/components/layout/TopNavigation/AlarmButton.tsx
  apps/web/components/layout/TopNavigation/BackButton.tsx
  apps/web/components/layout/TopNavigation/SearchButton.tsx
  apps/web/components/shared/IconButton.tsx
  apps/web/components/shared/index.ts
  packages/ui/src/design-system/base-components/Icons/Icon.tsx
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
  packages/ui/src/design-system/base-components/Icons/index.ts
Due: eslint-web, eslint-ui, prettier

fix: header 내 아이콘 간격 사이즈 패딩 등 디자인 업데이트 (#123)
  apps/web/components/layout/TopNavigation/RegionLabel.tsx
  apps/web/components/layout/TopNavigation/TopNavigation.tsx
  apps/web/components/shared/IconButton.tsx
  packages/tailwind-config/design-tokens/spacing-tokens.css
Due: eslint-web, prettier

feat: ui 패키지의 Icon 컴포넌트의 default 값이 특정 색상이 아닌 text color에서 상속 받도록 적용 (#123)
  packages/ui/src/design-system/base-components/Icons/Icon.tsx
Due: eslint-ui, prettier

feat: web app shared 의 Icon 컴포넌트에 color, variant props 추가 (#123)
  apps/web/components/shared/IconButton.tsx
  packages/tailwind-config/design-tokens/color-tokens/utility-colors.css
  packages/tailwind-config/semantic-styles/colors-styles.css
Due: eslint-web, prettier

refactor: shared 의 IconButton 컴포넌트와 header용 IconButton을 구분하여 계층 분리 (#123)
  apps/web/components/layout/TopNavigation/AlarmButton.tsx
  apps/web/components/layout/TopNavigation/BackButton.tsx
  apps/web/components/layout/TopNavigation/HeaderIconButton.tsx
  apps/web/components/layout/TopNavigation/SearchButton.tsx
  apps/web/components/shared/IconButton.tsx
Due: eslint-web, prettier

feat: shared의 IconButton 컴포넌트에 size props로 받도록 추가 (#123)
  apps/web/components/layout/TopNavigation/HeaderIconButton.tsx
  apps/web/components/shared/IconButton.tsx
  packages/ui/src/design-system/base-components/Button/Button.tsx
  packages/ui/src/design-system/base-components/Icons/Icon.tsx
Due: eslint-web, eslint-ui, prettier

refactor: 지역 라벨 컴포넌트도 공통 Button 컴포넌트에서 관리되도록 리팩토링 (#123)
  apps/web/components/layout/TopNavigation/HeaderIconButton.tsx
  apps/web/components/layout/TopNavigation/RegionLabel.tsx
  apps/web/components/shared/IconButton.tsx
  packages/ui/src/design-system/base-components/Button/Button.tsx
Due: eslint-web, eslint-ui, prettier

feat: 기본 메타데이터 파일 추가 (favicon, icon, manifest) (#128)
  apps/web/app/apple-icon.png
  apps/web/app/icon.svg
  apps/web/app/manifest.json
  apps/web/public/favicon.ico
  apps/web/public/images/android-chrome-192x192.png
  apps/web/public/images/android-chrome-512x512.png
  apps/web/public/images/ddip_logo.png
  apps/web/public/images/ddip_logo.svg
Due: prettier

feat: seo 파일 추가 (robots.txt, sitemap) (#128)
  apps/web/app/robots.txt
  apps/web/app/sitemap.ts
Due: eslint-web, prettier

feat: 상품 상세 메타데이터 추가 (#128)
  apps/web/app/(pages)/products/[productId]/page.tsx
Due: eslint-web, prettier

feat: 프로젝트 기본 오픈그래프 추가 (#128)
  apps/web/app/opengraph-image.tsx
Due: eslint-web, prettier

refactor: 상품 상세 페이지 공통 타입 분리 (#128)
  apps/web/app/(pages)/products/[productId]/page.tsx
Due: eslint-web, prettier

fix: eol 에러 방지와 disallow 경로 추가 (#128)
  apps/web/app/robots.txt
Due: none

fix: react cache로 상품 상세 데이터 페칭 캐시 처리 (#128)
  apps/web/app/(pages)/products/[productId]/page.tsx
Due: eslint-web, prettier

fix: release 스크립트 squash merge 환경 대응 개선 (#146)
  .gitignore
  release_notes.md
  scripts/generate-release-notes.js
Due: prettier

feat: 상품 상태 업데이트 서비스 함수 구현 (#129)
  apps/web/services/products/updateProductState.ts
Due: eslint-web, prettier

feat: 입찰 생성 서비스 함수 구현 (#129)
  apps/web/services/bids/createBid.ts
  apps/web/services/bids/index.ts
Due: eslint-web, prettier

feat: 입찰 기능 api POST 요청 구현 (#129)
  apps/web/app/api/bids/route.ts
Due: eslint-web, prettier

docs: 릴리즈 노트 자동화를 CHANGELOG.md 형식으로 개선 (#148)
  CHANGELOG.md
  scripts/generate-release-notes.js
Due: prettier

feat: 입찰하기 버튼에 로직 추가 (#129)
  apps/web/app/(pages)/products/[productId]/page.tsx
  apps/web/components/product-detail/BidButton.tsx
  apps/web/components/product-detail/ProductFooter.tsx
Due: eslint-web, prettier

feat: 입찰 API 요청시 에러 메시지 추가 및 에러 수정
  apps/web/app/api/bids/route.ts
Due: eslint-web, prettier

refactor: header icon 디렉토리 그룹화하여 아이콘버튼 컴포넌트 위치 이동 (#123)
  apps/web/components/layout/header-icon/AlarmButton.tsx
  apps/web/components/layout/header-icon/BackButton.tsx
  apps/web/components/layout/header-icon/HeaderIconButton.tsx
  apps/web/components/layout/header-icon/RegionLabel.tsx
  apps/web/components/layout/header-icon/SearchButton.tsx
  apps/web/components/layout/header-icon/index.ts
Due: eslint-web, prettier

refactor: top navigation 컴포넌트를 header 디렉토리로 그룹화, HeaderContainer 컴포넌트 생성하여 헤더 스타일 관리 분리 (#123)
  apps/web/components/layout/header/HeaderContainer.tsx
  apps/web/components/layout/header/TopNavigation.tsx
  apps/web/components/layout/header/index.ts
  apps/web/components/layout/index.ts
Due: eslint-web, prettier

feat: icon button, button 컴포넌트에 투명색 배경 설정 추가, color 속성의 light 값을 lightMode 로 수정 (#123)
  apps/web/components/layout/header-icon/HeaderIconButton.tsx
  apps/web/components/layout/header-icon/RegionLabel.tsx
  apps/web/components/shared/IconButton.tsx
  packages/ui/src/design-system/base-components/Button/Button.tsx
Due: eslint-web, eslint-ui, prettier

feat: 한글 텍스트로 된 search 용 닫기 버튼과 X 마크 아이콘 추가 (#123)
  apps/web/components/layout/header-icon/CloseTextButton.tsx
  apps/web/components/layout/header-icon/index.ts
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
Due: eslint-web, eslint-ui, prettier

feat: search 용 헤더 컴포넌트 생성 (#123)
  apps/web/components/layout/header/SearchHeader.tsx
  apps/web/components/layout/index.ts
Due: eslint-web, prettier

feat: 검색 전체 화면 레이아웃 생성 및 열기 닫기 애니메이션 효과 추가 (#123)
  apps/web/components/layout/header-icon/BackButton.tsx
  apps/web/components/layout/header-icon/CloseTextButton.tsx
  apps/web/components/layout/header-icon/SearchButton.tsx
  apps/web/components/layout/header/SearchHeader.tsx
  apps/web/components/screen/SearchScreen.tsx
  apps/web/components/screen/index.ts
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
Due: eslint-web, eslint-ui, prettier

feat: 검색 전과 검색 결과의 경우 접근성 처리 (#123)
  apps/web/components/layout/header/SearchHeader.tsx
  apps/web/components/screen/SearchScreen.tsx
Due: eslint-web, prettier

feat: 최근 검색 삭제 기능 추가 (#123)
  apps/web/components/screen/SearchScreen.tsx
Due: eslint-web, prettier

feat: 마이페이지에 필요한 아이콘 추가 (#151)
  packages/ui/src/design-system/base-components/Icons/assets/Icons.ts
  packages/ui/src/design-system/base-components/Icons/index.ts
Due: eslint-ui, prettier

Path conditions:
  eslint-web: any of: apps/web/**/*.{js,ts,jsx,tsx}
  eslint-docs: any of: apps/docs/**/*.{js,ts,jsx,tsx}
  eslint-ui: any of: packages/ui/**/*.{js,ts,jsx,tsx}
  prettier: any of: **/*.{js,ts,jsx,tsx,json,yaml,md,css}
