Repository DIBTP-E2E/KFE3-dibtp: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-web, eslint-docs, eslint-ui, prettier

eslint-web:
  run: pnpm --filter=web exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-docs:
  run: pnpm --filter=docs exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

eslint-ui:
  run: pnpm --filter=ui exec eslint {staged_files} --fix && echo "ESLint ran on {staged_files}"
  stage_fixed: true

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

chore: css import 중복 제거 및 주석 처리 (#13)
  packages/ui/src/design-system/tailwindcss-styles/semantic-styles/colors-styles.css
  packages/ui/src/design-system/tailwindcss-styles/semantic-styles/typography-styles.css
Due: prettier

feat: 로그인 여부, 위치설정 여부에 따른 리다이렉트 미들웨어 구현 (#17)
  apps/web/middleware.ts
Due: prettier

chore: web app 절대 경로 설정 및 적용 (#16)
  apps/web/app/(auth-pages)/login/page.tsx
  apps/web/app/(auth-pages)/signup/page.tsx
  apps/web/tsconfig.json
Due: eslint-web, prettier

chore: 로그인 서버액션 함수 분리
  apps/web/app/(auth-pages)/login/page.tsx
  apps/web/server-actions/login/loginAction.ts
Due: eslint-web, prettier

chore: 회원가입 서버액션 함수 분리
  apps/web/app/(auth-pages)/signup/page.tsx
  apps/web/server-actions/signup/signupAction.ts
Due: eslint-web, prettier

chore: import 순서 자동화 설정 (#16)
  apps/web/app/(auth-pages)/login/page.tsx
  apps/web/app/(auth-pages)/signup/page.tsx
  packages/eslint-config/next.js
Due: eslint-web, prettier

docs: 리드미 파일에서 팀 이름과 팀원 수정 (#3)
  README.md
Due: none

feat: form 제출 에러 메시지 공유 컴포넌트 구현 (#17)
  apps/web/app/(auth-pages)/login/page.tsx
  apps/web/app/(auth-pages)/signup/page.tsx
  apps/web/components/shared/FormErrorMessage.tsx
  apps/web/components/shared/index.ts
Due: eslint-web, prettier

design: 에러메시지 가운데 정렬
  apps/web/components/shared/FormErrorMessage.tsx
Due: eslint-web, prettier

chore: 불필요한 파일 삭제
  apps/web/app/api/login/route.tsx
  apps/web/app/api/signup/route.tsx
Due: eslint-web, prettier

chore: 에러메시지 구체화
  apps/web/server-actions/signup/signupAction.ts
  apps/web/services/signup/createUserAccount.ts
Due: eslint-web, prettier

hotfix: turbo run dev 에러가 나는 원인 global.css 내에서 import 하는 globals.css 제거 (#20)
  packages/ui/src/global.css
Due: prettier

chore: web app의 tsconfig.json 파일에서 @repo/typescript-config/nextjs.json 파일을 읽을 수 없는 이슈 수정 (#20)
  packages/typescript-config/package.json
Due: prettier

bug: tailwindcss v4 문법으로 정의한 유틸클래스가 web app에서 적용되지 않는 이슈 해결 및 디자인 토큰을 UI 패키지와 분리 (#20)
  packages/tailwind-config/design-tokens/color-tokens/primitive-colors.css
  packages/tailwind-config/design-tokens/color-tokens/scale-colors.css
  packages/tailwind-config/design-tokens/color-tokens/semantic-colors.css
  packages/tailwind-config/design-tokens/index.css
  packages/tailwind-config/design-tokens/spacing-tokens.css
  packages/tailwind-config/design-tokens/typography-tokens.css
  packages/tailwind-config/semantic-styles/colors-styles.css
  packages/tailwind-config/semantic-styles/typography-styles.css
  packages/tailwind-config/shared-styles.css
  packages/ui/src/globals.css
Due: prettier

refactor: 컴포넌트 LoginButton, LoginTitle 에서 사용한 기존 유틸클래스를 토큰 유틸클래스로 수정 (#20)
  apps/web/components/login/LoginButton.tsx
  apps/web/components/login/LoginTitle.tsx
Due: eslint-web, prettier

bug: docs app의 storybook 렌더링 에러 해결 (#29)
  apps/docs/.storybook/main.ts
  apps/docs/.storybook/preview.ts
Due: eslint-docs, prettier

chore: turbo run storybook 실행 시 통합 문서인 docs app의 스토리북만 실행되도록 수정 (#29)
  apps/docs/tsconfig.json
  package.json
  packages/ui/package.json
  turbo.json
Due: prettier

chore: web app 내에서만 컴포넌트 문서화를 위한 스토리북 설정 (#29)
  apps/web/.storybook/main.ts
  apps/web/.storybook/preview.ts
  apps/web/components/login/LoginButton.stories.tsx
  apps/web/package.json
Due: eslint-web, prettier

chore: docs app 스토리북에 web app의 스토리북 추가하여 문서화 (#29)
  apps/docs/.storybook/main.ts
  apps/docs/.storybook/preview.ts
  package.json
Due: eslint-docs, prettier

bug: storybook preview 파일에서 import 경로 에러 (#29)
  apps/docs/.storybook/preview.ts
  apps/web/.storybook/preview.ts
Due: eslint-web, eslint-docs, prettier

chore: 누락된 pnpm-lock.yml 파일 추가 (#29)
  pnpm-lock.yaml
Due: none

chore: 새롭게 정의한 ui 패키지 내 globals.css 적용 (#29)
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
Due: eslint-ui, prettier

직접 사용하는 시맨틱 색상 토큰만 명시적으로 import, 나머지 색상 레이어는 사용하는 곳에서 import (#29)
  packages/tailwind-config/design-tokens/color-tokens/scale-colors.css
  packages/tailwind-config/design-tokens/color-tokens/semantic-colors.css
  packages/tailwind-config/design-tokens/index.css
Due: prettier

refactor: avartar 컴포넌트를 새로운 토큰으로 수정 (#29)
  packages/ui/src/design-system/base-components/Avatar/Avatar.stories.tsx
  packages/ui/src/design-system/base-components/Avatar/Avatar.tsx
Due: eslint-ui, prettier

refactor: badge 컴포넌트를 새로운 토큰으로 수정 (#29)
  packages/ui/src/design-system/base-components/Badge/Badge.tsx
Due: eslint-ui, prettier

chore: supabase/ssr 라이브러리 설치
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier

chore: 수파베이스 관련 타입 파일 추가
  apps/web/types/index.ts
  apps/web/types/supabase/supabaseType.ts
Due: eslint-web, prettier

fix: 수파베이스 클라이언트 세분화 및 라이브러리 마이그레이션 (#28)
  apps/web/lib/index.ts
  apps/web/lib/supabase/client.ts
  apps/web/lib/supabase/index.ts
  apps/web/lib/supabase/middleware.ts
  apps/web/lib/supabase/server.ts
  apps/web/lib/supabaseClient.ts
  apps/web/lib/supabaseServerClient.ts
Due: eslint-web, prettier

refactor: 변경된 수파베이스 클라이언트로 마이그레이션
  apps/web/middleware.ts
  apps/web/services/login/setServerSession.ts
  apps/web/services/signup/createUserAccount.ts
Due: eslint-web, prettier

remove: 사용하지 않는 파일 제거 (#33)
  packages/ui/src/design-system/base-components/Input/disable.txt
  packages/ui/src/global.css
Due: prettier

refactor: 공식문서 권장 형식 맞춰서 코드 수정
  apps/web/app/(auth-pages)/location/page.tsx
  apps/web/lib/supabase/index.ts
  apps/web/lib/supabase/middleware.ts
  apps/web/middleware.ts
Due: eslint-web, prettier

chore: 위치설정 페이지 임시 페이지 삭제
  apps/web/app/(auth-pages)/location/page.tsx
Due: eslint-web, prettier

chore: 인덱스, 파일명명 컨벤션 맞춰 수정
  apps/web/types/index.ts
  apps/web/types/lib/index.ts
  apps/web/types/lib/supabase-type.ts
Due: eslint-web, prettier

chore: kakao맵 전역 타입 라이브러리 설치 (#10)
  apps/web/package.json
  apps/web/tsconfig.json
  apps/web/types/kakao.d.ts
  pnpm-lock.yaml
Due: eslint-web, prettier

design: bg-neutral 컬러 수정 (#10)
  packages/tailwind-config/design-tokens/color-tokens/semantic-colors.css
Due: prettier

feat: 스토리북 문서화를 위해 colors css 변수를 객체 토큰으로 자동화하는 스크립트 생성 (#33)
  packages/ui/package.json
  packages/ui/scripts/generate-tokens.ts
  packages/ui/scripts/tsconfig.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: eslint-ui, prettier

chore: colors 토큰 객체화한 빌드 파일 추가 (#33)
  packages/ui/src/design-system/design-tokens/generated-tokens.ts
Due: eslint-ui, prettier

docs: colors 디자인 토큰 용 스토리북 파일을 재정의 토큰 기준으로 수정 (#33)
  packages/ui/src/design-system/design-tokens/Colors.stories.tsx
Due: eslint-ui, prettier

remove: 사용하지 않는 파일 제거 (#33)
  packages/ui/src/design-system/design-tokens/colors.ts
  packages/ui/src/design-system/design-tokens/index.ts
Due: eslint-ui, prettier

design: 폰트 렌더링을 부드럽게 만들기 위한 css 속성 추가 (#33)
  packages/ui/src/globals.css
Due: prettier

Path conditions:
  eslint-web: any of: apps/web/**/*.{js,ts,jsx,tsx}
  eslint-docs: any of: apps/docs/**/*.{js,ts,jsx,tsx}
  eslint-ui: any of: packages/ui/**/*.{js,ts,jsx,tsx}
  prettier: any of: **/*.{js,ts,jsx,tsx,json,yaml,md,css}
